<div class="pmb-block">
    <div class="col-md-4">
        <div class="pmbb-header">
            <h2><i class="zmdi zmdi-account m-r-5"></i> Basic Information</h2>        
        </div>
        <div class="pmbb-body p-l-30">
            <div class="pmbb-view">
                <dl class="dl-horizontal">
                    <dt>Name</dt>
                    <dd>{{ instance.name }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>Size</dt>
                    <dd>{{ instance.broker }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>Account</dt>
                    <dd>{{ instance.name }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>Renewal Date</dt>
                    <dd>{{ instance.name }}</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="pmbb-header">
            <h2><i class="zmdi zmdi-account m-r-5"></i> Industry Information</h2>        
        </div>
        <div class="pmbb-body p-l-30">
            <div class="pmbb-view">
                <dl class="dl-horizontal">
                    <dt>Primary Industry</dt>
                    <dd>{{ instance.name }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>Seconday Industry</dt>
                    <dd>{{ instance.name }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>Third Industry</dt>
                    <dd>{{ instance.name }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>Government Contractor</dt>
                    <dd>{{ instance.name }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>Non-Profit Organization</dt>
                    <dd>{{ instance.name }}</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="pmbb-header">
            <h2><i class="zmdi zmdi-account m-r-5"></i> Industry Information</h2>        
        </div>
        <div class="pmbb-body p-l-30">
            <div class="pmbb-view">
                <dl class="dl-horizontal">
                    <dt>Primary Industry</dt>
                    <dd>{{ instance.name }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>Seconday Industry</dt>
                    <dd>{{ instance.name }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>Third Industry</dt>
                    <dd>{{ instance.name }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>Government Contractor</dt>
                    <dd>{{ instance.name }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>Non-Profit Organization</dt>
                    <dd>{{ instance.name }}</dd>
                </dl>
            </div>
        </div>
    </div></div>
