{% load bnchmrk_tag %}

<div class="c-red">
    {% if form.errors %}
    <p class="errornote">
        Please correct the error below(s).
    </p>
    <ul class="errorlist">{% for error in form.non_field_errors %}<li>{{ error }}</li>{% endfor %}</ul>
    {% endif %}
</div>

<form name="medical" method="post" action="/update_benefit/{{ id }}" onsubmit="save_benefit(event, this, 'id_{{ id }}');">
    {% csrf_token %}
    <input type="hidden" name="employer" value="{{ form.employer.value }}">
    <input type="hidden" name="form_id" value="{{ id }}">
    <div class="pmbb-header">
        <h3>{{ form.title.value }}</h3>        
        <ul class="actions">
            <li class="dropdown">
                <a href="" data-toggle="dropdown">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>
                
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a data-pmb-action="edit" href="javascript:void(0);" onclick="toggle_edit(this);">Edit</a>
                    </li>                    
                </ul>
            </li>
        </ul>        
    </div>

    <!-- Title, Type and Carrier -->
    <div class="pmbb-header p-l-15"><h2><i class="zmdi zmdi-account m-r-5"></i> Basic Information</h2></div>
    <div class="col-sm-6 p-b-25" style="z-index:2000;">
        <div class="pmbb-body p-l-30">
            <div class="pmbb-view">
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700{% if form.title.errors %} c-red{% endif %}">Plan Name</div>
                    <div class="col-sm-5">                    
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{{ form.title.value }}" name="title" disabled="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">Plan Type</div>
                    <div class="col-sm-5">
                        {% include "includes/dropdown.html" with name="type" data=mtc id="type" select=form.type.value|parse_none extra="disabled" only %}
                    </div>
                </div>
            </div>         
        </div>
    </div>
    <div class="col-sm-6 p-b-25">
        <div class="pmbb-body p-l-30">
            <div class="pmbb-view"> 
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">Carrier</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.carrier.value %}{{ form.carrier.value }}{% endif %}" name="carrier" disabled="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>         
        </div>
    </div>

    <!-- In-network deductibles, maximums, ded applies, and coinsurances -->
    <div class="clearfix"></div>
    <div class="pmbb-header p-l-15"><h2><i class="zmdi zmdi-account m-r-5"></i> In-Network Benefits</h2></div>
    <div class="col-sm-6 p-b-25">
        <div class="pmbb-body p-l-30">
            <div class="pmbb-view"> 
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700 {% if form.in_ded_single.errors %} c-red{% endif %}">Individual Deductible</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.in_ded_single.value != None %}{{ form.in_ded_single.value }}{% endif %}" name="in_ded_single" disabled="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">Family Deductible</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.in_ded_family.value != None %}{{ form.in_ded_family.value }}{% endif %}" name="in_ded_family" disabled="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700 {% if form.in_max_single.errors %} c-red{% endif %}">Individual Out-of-Pocket Maximum</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.in_max_single.value != None %}{{ form.in_max_single.value }}{% endif %}" name="in_max_single" disabled="">
                            </div>
                        </div>
                    </div>
                </div>          
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">Family Out-of-Pocket Maximum</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.in_max_family.value != None %}{{ form.in_max_family.value }}{% endif %}" name="in_max_family" disabled="">
                            </div>
                        </div>
                    </div>
                </div><div class="col-sm-12">
                    <div class="col-sm-6 f-700">Coinsurance</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.in_coin.value != None %}{{ form.in_coin.value }}{% endif %}" name="in_coin" disabled="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>         
        </div>
    </div>
    <div class="col-sm-6 p-b-25">
        <div class="pmbb-body p-l-30">
            <div class="pmbb-view">
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">Primary Care Physician</div>
                    <div class="col-sm-5">
                        {% include "includes/dropdown.html" with name="pcp_ded_apply" data=mbc id="pcp_ded_apply" select=form.pcp_ded_apply.value|parse_none extra="disabled" only %}
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">PCP Copay (if required)</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.pcp_copay.value != None %}{{ form.pcp_copay.value }}{% endif %}" name="pcp_copay" disabled="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">Specialist Physician</div>
                    <div class="col-sm-5">
                        {% include "includes/dropdown.html" with name="sp_ded_apply" data=mbc id="sp_ded_apply" select=form.sp_ded_apply.value|parse_none extra="disabled" only %}
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">SP Copay (if required)</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.sp_copay.value != None %}{{ form.sp_copay.value }}{% endif %}" name="sp_copay" disabled="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">Emergency Room</div>
                    <div class="col-sm-5">
                        {% include "includes/dropdown.html" with name="er_ded_apply" data=mbc id="er_ded_apply" select=form.er_ded_apply.value|parse_none extra="disabled" only %}
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">ER Copay (if required)</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.er_copay.value != None %}{{ form.er_copay.value }}{% endif %}" name="er_copay" disabled="">
                            </div>
                        </div>
                    </div>
                </div>      
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">Urgent Care</div>
                    <div class="col-sm-5">
                        {% include "includes/dropdown.html" with name="uc_ded_apply" data=mbc id="uc_ded_apply" select=form.uc_ded_apply.value|parse_none extra="disabled" only %}
                    </div>
                </div>     
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">UC Copay (if required)</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.uc_copay.value != None %}{{ form.uc_copay.value }}{% endif %}" name="uc_copay" disabled="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">Labs & Xray</div>
                    <div class="col-sm-5">
                        {% include "includes/dropdown.html" with name="lx_ded_apply" data=mbc id="lx_ded_apply" select=form.lx_ded_apply.value|parse_none extra="disabled" only %}
                    </div>
                </div>     
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">LX Copay (if required)</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.lx_copay.value != None %}{{ form.lx_copay.value }}{% endif %}" name="lx_copay" disabled="">
                            </div>
                        </div>
                    </div>
                </div>  
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">Outpatient Procedure</div>
                    <div class="col-sm-5">
                        {% include "includes/dropdown.html" with name="op_ded_apply" data=mbc id="op_ded_apply" select=form.op_ded_apply.value|parse_none extra="disabled" only %}
                    </div>
                </div>     
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">OP Copay (if required)</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.op_copay.value != None %}{{ form.op_copay.value }}{% endif %}" name="op_copay" disabled="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">Inpatient Procedure</div>
                    <div class="col-sm-5">
                        {% include "includes/dropdown.html" with name="ip_ded_apply" data=mbc id="ip_ded_apply" select=form.ip_ded_apply.value|parse_none extra="disabled" only %}
                    </div>
                </div>     
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">IP Copay (if required)</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.ip_copay.value != None %}{{ form.ip_copay.value }}{% endif %}" name="ip_copay" disabled="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>         
        </div>
    </div>

    <!-- Out-of-network deductibles, maximums, ded applies, and coinsurances -->
    <div class="clearfix"></div>
    <div class="pmbb-header p-l-15"><h2><i class="zmdi zmdi-account m-r-5"></i> Out-of-Network Benefits </h2></div>
    <div class="col-sm-6 p-b-25">
        <div class="pmbb-body p-l-30">
            <div class="pmbb-view"> 
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">Individual Deductible</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.out_ded_single.value != None %}{{ form.out_ded_single.value }}{% endif %}" name="out_ded_single" disabled="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">Family Deductible</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.out_ded_family.value != None %}{{ form.out_ded_family.value }}{% endif %}" name="out_ded_family" disabled="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">Individual Out-of-Pocket Maximum</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.out_max_single.value != None %}{{ form.out_max_single.value }}{% endif %}" name="out_max_single" disabled="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">Family Out-of-Pocket Maximum</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.out_max_family.value != None %}{{ form.out_max_family.value }}{% endif %}" name="out_max_family" disabled="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">Coinsurance</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.out_coin.value != None %}{{ form.out_coin.value }}{% endif %}" name="out_coin" disabled="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">Ded Cross Accumulate</div>
                    <div class="col-sm-5">
                        <div class="checkbox m-b-15">
                            <label>
                                <input type="checkbox" {% if form.ded_cross.value %} checked {% endif %} name="ded_cross" disabled="">
                                <i class="input-helper"></i>
                            </label>
                        </div>
                    </div>
                </div> 
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">Max Cross Accumulate</div>
                    <div class="col-sm-5">
                        <div class="checkbox m-b-15">
                            <label>
                                <input type="checkbox" {% if form.max_cross.value %} checked {% endif %} name="max_cross" disabled="">
                                <i class="input-helper"></i>
                            </label>
                        </div>
                    </div>
                </div> 
            </div>         
        </div>
    </div>
    <div class="col-sm-6 p-b-25">
        <div class="pmbb-body p-l-30">
            <div class="pmbb-view">                
            </div>         
        </div>
    </div>


    <!-- Out-of-network deductibles, maximums, ded applies, and coinsurances -->
    <div class="clearfix"></div>
    <div class="pmbb-header p-l-15"><h2><i class="zmdi zmdi-account m-r-5"></i> Rx Benefits</h2></div>
    <div class="col-sm-6 p-b-25">
        <div class="pmbb-body p-l-30">
            <div class="pmbb-view"> 
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">Individual Deductible</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.rx_ded_single.value != None %}{{ form.rx_ded_single.value }}{% endif %}" name="rx_ded_single" disabled="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">Family Deductible</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.rx_ded_family.value != None %}{{ form.rx_ded_family.value }}{% endif %}" name="rx_ded_family" disabled="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">Individual Out-of-Pocket Maximum</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.rx_max_single.value != None %}{{ form.rx_max_single.value }}{% endif %}" name="rx_max_single" disabled="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">Family Out-of-Pocket Maximum</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.rx_max_family.value != None %}{{ form.rx_max_family.value }}{% endif %}" name="rx_max_family" disabled="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">Coinsurance</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.rx_coin.value != None %}{{ form.rx_coin.value }}{% endif %}" name="rx_coin" disabled="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>         
        </div>
    </div>
    <div class="col-sm-6 p-b-25">
        <div class="pmbb-body p-l-30">
            <div class="pmbb-view">
                
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">Tier 1 Prescriptions</div>
                    <div class="col-sm-5">                    
                        {% include "includes/dropdown.html" with name="rx1_ded_apply" data=mbc id="rx1_ded_apply" select=form.rx1_ded_apply.value|parse_none extra="disabled" only %}
                    </div>
                </div>   
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">Retail Copay (if required)</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.rx1_copay.value != None %}{{ form.rx1_copay.value }}{% endif %}" name="rx1_copay" disabled="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">Mail Order Copay (if required)</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.rx1_mail_copay.value != None %}{{ form.rx1_mail_copay.value }}{% endif %}" name="rx1_mail_copay" disabled="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">Tier 2 Prescriptions</div>
                    <div class="col-sm-5">
                        {% include "includes/dropdown.html" with name="rx2_ded_apply" data=mbc id="rx2_ded_apply" select=form.rx2_ded_apply.value|parse_none extra="disabled" only %}
                    </div>
                </div>  
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">Retail Copay (if required)</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.rx2_copay.value != None %}{{ form.rx2_copay.value }}{% endif %}" name="rx2_copay" disabled="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">Mail Order Copay (if required)</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.rx2_mail_copay.value != None %}{{ form.rx2_mail_copay.value }}{% endif %}" name="rx2_mail_copay" disabled="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">Tier 3 Prescriptions</div>
                    <div class="col-sm-5">
                        {% include "includes/dropdown.html" with name="rx3_ded_apply" data=mbc id="rx3_ded_apply" select=form.rx3_ded_apply.value|parse_none extra="disabled" only %}
                    </div>
                </div>     
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">Retail Copay (if required)</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.rx3_copay.value != None %}{{ form.rx3_copay.value }}{% endif %}" name="rx3_copay" disabled="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">Mail Order Copay (if required)</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.rx3_mail_copay.value != None %}{{ form.rx3_mail_copay.value }}{% endif %}" name="rx3_mail_copay" disabled="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">Tier 4 Prescriptions</div>
                    <div class="col-sm-5">
                        {% include "includes/dropdown.html" with name="rx4_ded_apply" data=mbc id="rx4_ded_apply" select=form.rx4_ded_apply.value|parse_none extra="disabled" only %}
                    </div>
                </div> 
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">Retail Copay (if required)</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.rx4_copay.value != None %}{{ form.rx4_copay.value }}{% endif %}" name="rx4_copay" disabled="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">Mail Order Copay (if required)</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.rx4_mail_copay.value != None %}{{ form.rx4_mail_copay.value }}{% endif %}" name="rx4_mail_copay" disabled="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>         
        </div>
    </div>

    

    <!-- Costs: Gross and Employee Rates  -->
    <div class="col-sm-6 p-b-25">
        <div class="pmbb-header"><h2><i class="zmdi zmdi-account m-r-5"></i> Total Annual Gross Costs</h2></div>
        <div class="pmbb-body p-l-30">
            <div class="pmbb-view">
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700 {% if form.t1_gross.errors %} c-red{% endif %}">Employee Only</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.t1_gross.value != None %}{{ form.t1_gross.value }}{% endif %}" name="t1_gross" disabled="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700 {% if form.t2_gross.errors %} c-red{% endif %}">Employee & Spouse</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.t2_gross.value != None %}{{ form.t2_gross.value }}{% endif %}" name="t2_gross" disabled="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700 {% if form.t3_gross.errors %} c-red{% endif %}">Employee & Child(ren)</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.t3_gross.value != None %}{{ form.t3_gross.value }}{% endif %}" name="t3_gross" disabled="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700 {% if form.t4_gross.errors %} c-red{% endif %}">Family</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.t4_gross.value != None %}{{ form.t4_gross.value }}{% endif %}" name="t4_gross" disabled="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">Age Banded Rates</div>
                    <div class="col-sm-5">
                        <div class="checkbox m-b-15">
                            <label>
                                <input type="checkbox" {% if form.age_rated.value %} checked {% endif %} name="age_rated" disabled="">
                                <i class="input-helper"></i>
                            </label>
                        </div>
                    </div>
                </div>
            </div>         
        </div>
    </div> 

    <div class="col-sm-6 p-b-25">
        <div class="pmbb-header"><h2><i class="zmdi zmdi-account m-r-5"></i> Employee Annual Contributions</h2></div>
        <div class="pmbb-body p-l-30">
            <div class="pmbb-view">                             
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700 {% if form.t1_ee.errors %} c-red{% endif %}">Employee Only</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.t1_ee.value != None %}{{ form.t1_ee.value }}{% endif %}" name="t1_ee" disabled="">
                            </div>
                        </div>
                    </div>
                </div>                
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700 {% if form.t2_ee.errors %} c-red{% endif %}">Employee & Spouse</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.t2_ee.value != None %}{{ form.t2_ee.value }}{% endif %}" name="t2_ee" disabled="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700 {% if form.t3_ee.errors %} c-red{% endif %}">Employee & Child(ren)</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.t3_ee.value != None %}{{ form.t3_ee.value }}{% endif %}" name="t3_ee" disabled="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700 {% if form.t4_ee.errors %} c-red{% endif %}">Family</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.t4_ee.value != None %}{{ form.t4_ee.value }}{% endif %}" name="t4_ee" disabled="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Out-of-network deductibles, maximums, ded applies, and coinsurances -->
    <div class="clearfix"></div>
    <div class="pmbb-header p-l-15"><h2><i class="zmdi zmdi-account m-r-5"></i> Employer CDHP Funding </h2></div>
    <div class="col-sm-6 p-b-25">
        <div class="pmbb-body p-l-30">
            <div class="pmbb-view"> 
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">Offer HRA</div>
                    <div class="col-sm-5">
                        <div class="checkbox m-b-15">
                            <label>
                                <input type="checkbox" {% if form.hra.value %} checked {% endif %} name="hra" disabled="">
                                <i class="input-helper"></i>
                            </label>
                        </div>
                    </div>
                </div> 
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">Offer HSA</div>
                    <div class="col-sm-5">
                        <div class="checkbox m-b-15">
                            <label>
                                <input type="checkbox" {% if form.hsa.value %} checked {% endif %} name="hsa" disabled="">
                                <i class="input-helper"></i>
                            </label>
                        </div>
                    </div>
                </div> 
                
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">Single</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.t1_ercdhp.value != None %}{{ form.t1_ercdhp.value }}{% endif %}" name="t1_ercdhp" disabled="">
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">EE & Spouse</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.t2_ercdhp.value != None %}{{ form.t2_ercdhp.value }}{% endif %}" name="t2_ercdhp" disabled="">
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">EE & Child(ren)</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.t3_ercdhp.value != None %}{{ form.t3_ercdhp.value }}{% endif %}" name="t3_ercdhp" disabled="">
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="col-sm-12">
                    <div class="col-sm-6 f-700">Family</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.t4_ercdhp.value != None %}{{ form.t4_ercdhp.value }}{% endif %}" name="t4_ercdhp" disabled="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>         
        </div>
    </div>
    <div class="col-sm-6 p-b-25">
        <div class="pmbb-body p-l-30">
            <div class="pmbb-view">
               
            </div>         
        </div>
    </div> 

    <div class="col-md-12 action hidden">
        <div class="m-t-10 pull-right">
            <button type="submit" class="btn btn-primary btn-sm">Save</button>
            <button type="reset" class="btn btn-link btn-sm" onclick="cancel_edit(this);">Cancel</button>
        </div>    
    </div>
</form>
