{% load bnchmrk_tag %}

<div class="c-red">
    {% if form.errors %}
    <p class="errornote">
        Please correct the error below(s).
    </p>
    <ul class="errorlist">{% for error in form.non_field_errors %}<li>{{ error }}</li>{% endfor %}</ul>
    {% endif %}
</div>

<form name="vision" method="post" action="/update_benefit/{{ id }}" onsubmit="save_benefit(event, this, 'id_{{ id }}');">
    {% csrf_token %}
    <input type="hidden" name="employer" value="{{ form.employer.value }}">
    <input type="hidden" name="form_id" value="{{ id }}">
    <div class="pmbb-header">
        <h3>{{ form.title.value }}</h3>        
        <ul class="actions">
            <li class="dropdown">
                <a href="" data-toggle="dropdown">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>
                
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a data-pmb-action="edit" href="javascript:void(0);" onclick="toggle_edit(this);">Edit</a>
                    </li>
                </ul>
            </li>
        </ul>        
    </div>

    <!-- Title, Type and Carrier -->
    <div class="pmbb-header p-l-15"><h2><i class="zmdi zmdi-account m-r-5"></i> Basic Information</h2></div>
    <div class="col-sm-6 p-b-25">
        <div class="pmbb-body p-l-30">
            <div class="pmbb-view">
                <dl class="dl-horizontal">
                    <div class="col-sm-5 f-700{% if form.title.errors %} c-red{% endif %}">Plan Name</div>
                    <div class="col-sm-5">                    
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{{ form.title.value }}" name="title" disabled="">
                            </div>
                        </div>
                    </div>
                </dl>
            </div>         
        </div>
    </div>
    <div class="col-sm-6 p-b-25">
        <div class="pmbb-body p-l-30">
            <div class="pmbb-view"> 
                <dl class="dl-horizontal">
                    <div class="col-sm-5 f-700">Carrier</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.carrier.value %}{{ form.carrier.value }}{% endif %}" name="carrier" disabled="">
                            </div>
                        </div>
                    </div>
                </dl>
            </div>         
        </div>
    </div>

    <!-- Exams  -->
    <div class="clearfix"></div>
    <div class="pmbb-header p-l-15"><h2><i class="zmdi zmdi-account m-r-5"></i> Eye Exam Cost Share</h2></div>
    <div class="col-sm-6 p-b-25">
        <div class="pmbb-body p-l-30">
            <div class="pmbb-view"> 
                <dl class="dl-horizontal">
                    <div class="col-sm-5 f-700">Exam Frequency</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.exam_frequency.value != None %}{{ form.exam_frequency.value }}{% endif %}" name="exam_frequency" disabled="">
                            </div>
                        </div>
                    </div>
                </dl>
                <dl class="dl-horizontal">
                    <div class="col-sm-5 f-700">Exam Copay</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.exam_copay.value != None %}{{ form.exam_copay.value }}{% endif %}" name="exam_copay" disabled="">
                            </div>
                        </div>
                    </div>
                </dl>
            </div>         
        </div>
    </div>
    <div class="col-sm-6 p-b-25">
        <div class="pmbb-body p-l-30">
            <div class="pmbb-view">
                <dl class="dl-horizontal">
                    <div class="col-sm-5 f-700">In-Network Allowance</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.exam_allowance.value != None %}{{ form.exam_allowance.value }}{% endif %}" name="exam_allowance" disabled="">
                            </div>
                        </div>
                    </div>
                </dl> 
                <dl class="dl-horizontal">
                    <div class="col-sm-5 f-700">Exam Coinsurance</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.exam_balance_coinsurance.value != None %}{{ form.exam_balance_coinsurance.value }}{% endif %}" name="exam_balance_coinsurance" disabled="">
                            </div>
                        </div>
                    </div>
                </dl> 
                <dl class="dl-horizontal">
                    <div class="col-sm-5 f-700">Out-of-Network Allowance</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.exam_out_allowance.value != None %}{{ form.exam_out_allowance.value }}{% endif %}" name="exam_out_allowance" disabled="">
                            </div>
                        </div>
                    </div>
                </dl> 
            </div>         
        </div>
    </div>

    <!-- Lenses -->
    <div class="clearfix"></div>
    <div class="pmbb-header p-l-15"><h2><i class="zmdi zmdi-account m-r-5"></i> Lense Cost Share</h2></div>
    <div class="col-sm-6 p-b-25">
        <div class="pmbb-body p-l-30">
            <div class="pmbb-view"> 
                <dl class="dl-horizontal">
                    <div class="col-sm-5 f-700">Lense Frequency</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.lenses_frequency.value != None %}{{ form.lenses_frequency.value }}{% endif %}" name="lenses_frequency" disabled="">
                            </div>
                        </div>
                    </div>
                </dl>
                <dl class="dl-horizontal">
                    <div class="col-sm-5 f-700">Lense Copay</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.lenses_copay.value != None %}{{ form.lenses_copay.value }}{% endif %}" name="lenses_copay" disabled="">
                            </div>
                        </div>
                    </div>
                </dl>
            </div>         
        </div>
    </div>
    <div class="col-sm-6 p-b-25">
        <div class="pmbb-body p-l-30">
            <div class="pmbb-view">
                <dl class="dl-horizontal">
                    <div class="col-sm-5 f-700">In-Network Allowance</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.lenses_allowance.value != None %}{{ form.lenses_allowance.value }}{% endif %}" name="lenses_allowance" disabled="">
                            </div>
                        </div>
                    </div>
                </dl>
                <dl class="dl-horizontal">
                    <div class="col-sm-5 f-700">Lense Coinsurance</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.lenses_balance_coinsurance.value != None %}{{ form.lenses_balance_coinsurance.value }}{% endif %}" name="lenses_balance_coinsurance" disabled="">
                            </div>
                        </div>
                    </div>
                </dl> 
                <dl class="dl-horizontal">
                    <div class="col-sm-5 f-700">Out-of-Network Allowance</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.lenses_out_allowance.value != None %}{{ form.lenses_out_allowance.value }}{% endif %}" name="lenses_out_allowance" disabled="">
                            </div>
                        </div>
                    </div>
                </dl>  
            </div>         
        </div>
    </div>

    <!-- Out-of-network deductibles, maximums, ded applies, and coinsurances -->
    <div class="clearfix"></div>
    <div class="pmbb-header p-l-15"><h2><i class="zmdi zmdi-account m-r-5"></i> Frames Cost Share</h2></div>
    <div class="col-sm-6 p-b-25">
        <div class="pmbb-body p-l-30">
            <div class="pmbb-view"> 
                <dl class="dl-horizontal">
                    <div class="col-sm-5 f-700">Frames Frequency</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.frames_frequency.value != None %}{{ form.frames_frequency.value }}{% endif %}" name="frames_frequency" disabled="">
                            </div>
                        </div>
                    </div>
                </dl>
                <dl class="dl-horizontal">
                    <div class="col-sm-5 f-700">Frames Copay</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.frames_copay.value != None %}{{ form.frames_copay.value }}{% endif %}" name="frames_copay" disabled="">
                            </div>
                        </div>
                    </div>
                </dl>
            </div>         
        </div>
    </div>
    <div class="col-sm-6 p-b-25">
        <div class="pmbb-body p-l-30">
            <div class="pmbb-view">
                <dl class="dl-horizontal">
                    <div class="col-sm-5 f-700">Frames Allowance</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.frames_allowance.value != None %}{{ form.frames_allowance.value }}{% endif %}" name="frames_allowance" disabled="">
                            </div>
                        </div>
                    </div>
                </dl>      
                <dl class="dl-horizontal">
                    <div class="col-sm-5 f-700">Frames Coinsurance</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.frames_coinsurance.value != None %}{{ form.frames_coinsurance.value }}{% endif %}" name="frames_coinsurance" disabled="">
                            </div>
                        </div>
                    </div>
                </dl>
                <dl class="dl-horizontal">
                    <div class="col-sm-5 f-700">Frames Allowance</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.frames_out_allowance.value != None %}{{ form.frames_out_allowance.value }}{% endif %}" name="frames_out_allowance" disabled="">
                            </div>
                        </div>
                    </div>
                </dl>                
            </div>         
        </div>
    </div>


     <!-- Contacts -->
    <div class="clearfix"></div>
    <div class="pmbb-header p-l-15"><h2><i class="zmdi zmdi-account m-r-5"></i> Contacts Benefits</h2></div>
    <div class="col-sm-6 p-b-25">
        <div class="pmbb-body p-l-30">
            <div class="pmbb-view"> 
                <dl class="dl-horizontal">
                    <div class="col-sm-5 f-700">Contacts Frequency</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.contacts_frequency.value != None %}{{ form.contacts_frequency.value }}{% endif %}" name="contacts_frequency" disabled="">
                            </div>
                        </div>
                    </div>
                </dl>
                <dl class="dl-horizontal">
                    <div class="col-sm-5 f-700">Contacts Copay</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.contacts_copay.value != None %}{{ form.contacts_copay.value }}{% endif %}" name="contacts_copay" disabled="">
                            </div>
                        </div>
                    </div>
                </dl>
            </div>         
        </div>
    </div>
    <div class="col-sm-6 p-b-25">
        <div class="pmbb-body p-l-30">
            <div class="pmbb-view">
                <dl class="dl-horizontal">
                    <div class="col-sm-5 f-700">Contacts Allowance</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.contacts_allowance.value != None %}{{ form.contacts_allowance.value }}{% endif %}" name="contacts_allowance" disabled="">
                            </div>
                        </div>
                    </div>
                </dl>
                <dl class="dl-horizontal">
                    <div class="col-sm-5 f-700">Contacts Coinsurance</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.contacts_coinsurance.value != None %}{{ form.contacts_coinsurance.value }}{% endif %}" name="contacts_coinsurance" disabled="">
                            </div>
                        </div>
                    </div>
                </dl>          
                <dl class="dl-horizontal">
                    <div class="col-sm-5 f-700">Contacts Allowance</div>
                    <div class="col-sm-5">                    
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.contacts_out_allowance.value != None %}{{ form.contacts_out_allowance.value }}{% endif %}" name="contacts_out_allowance" disabled="">
                            </div>
                        </div>
                    </div>
                </dl>
            </div>         
        </div>
    </div>


    <!-- Costs: Gross and Employee Rates  -->
    <div class="col-sm-6 p-b-25">
        <div class="pmbb-header"><h2><i class="zmdi zmdi-account m-r-5"></i> Total Annual Gross Costs</h2></div>
        <div class="pmbb-body p-l-30">
            <div class="pmbb-view">
                <dl class="dl-horizontal">
                    <div class="col-sm-5 f-700 {% if form.t1_gross.errors %} c-red{% endif %}">Employee Only</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.t1_gross.value != None %}{{ form.t1_gross.value }}{% endif %}" name="t1_gross" disabled="">
                            </div>
                        </div>
                    </div>
                </dl>
                <dl class="dl-horizontal">
                    <div class="col-sm-5 f-700 {% if form.t2_gross.errors %} c-red{% endif %}">Employee & Spouse</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.t2_gross.value != None %}{{ form.t2_gross.value }}{% endif %}" name="t2_gross" disabled="">
                            </div>
                        </div>
                    </div>
                </dl>
                <dl class="dl-horizontal">
                    <div class="col-sm-5 f-700 {% if form.t3_gross.errors %} c-red{% endif %}">Employee & Child(ren)</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.t3_gross.value != None %}{{ form.t3_gross.value }}{% endif %}" name="t3_gross" disabled="">
                            </div>
                        </div>
                    </div>
                </dl>
                <dl class="dl-horizontal">
                    <div class="col-sm-5 f-700 {% if form.t4_gross.errors %} c-red{% endif %}">Family</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.t4_gross.value != None %}{{ form.t4_gross.value }}{% endif %}" name="t4_gross" disabled="">
                            </div>
                        </div>
                    </div>
                </dl>
            </div>         
        </div>
    </div> 

    <div class="col-sm-6 p-b-25">
        <div class="pmbb-header"><h2><i class="zmdi zmdi-account m-r-5"></i> Employee Annual Contributions</h2></div>
        <div class="pmbb-body p-l-30">
            <div class="pmbb-view">                             
                <dl class="dl-horizontal">
                    <div class="col-sm-5 f-700 {% if form.t1_ee.errors %} c-red{% endif %}">Employee Only</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.t1_ee.value != None %}{{ form.t1_ee.value }}{% endif %}" name="t1_ee" disabled="">
                            </div>
                        </div>
                    </div>
                </dl>                
                <dl class="dl-horizontal">
                    <div class="col-sm-5 f-700 {% if form.t2_ee.errors %} c-red{% endif %}">Employee & Spouse</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.t2_ee.value != None %}{{ form.t2_ee.value }}{% endif %}" name="t2_ee" disabled="">
                            </div>
                        </div>
                    </div>
                </dl>
                <dl class="dl-horizontal">
                    <div class="col-sm-5 f-700 {% if form.t3_ee.errors %} c-red{% endif %}">Employee & Child(ren)</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.t3_ee.value != None %}{{ form.t3_ee.value }}{% endif %}" name="t3_ee" disabled="">
                            </div>
                        </div>
                    </div>
                </dl>
                <dl class="dl-horizontal">
                    <div class="col-sm-5 f-700 {% if form.t4_ee.errors %} c-red{% endif %}">Family</div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line disabled">
                                <input type="text" class="form-control" value="{% if form.t4_ee.value != None %}{{ form.t4_ee.value }}{% endif %}" name="t4_ee" disabled="">
                            </div>
                        </div>
                    </div>
                </dl>
            </div>
        </div>
    </div>


    <div class="col-md-12 action hidden">
        <div class="m-t-10 pull-right">
            <button type="submit" class="btn btn-primary btn-sm">Save</button>
            <button type="reset" class="btn btn-link btn-sm" onclick="cancel_edit(this);">Cancel</button>
        </div>    
    </div>
</form>
