.section-score span {
	font-size: 56px;
	text-align: center;
}

.toggle_plan {
	display: none;
}

.section-content, .section-graph {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 15px;
	padding-bottom: 12px;
}

.section-content-right, .section-content-left {
	padding-top: 15px;	
}

.section {
	min-height: 280px; 
}

.dash-widget-item {
	margin-bottom: 0px; 
	padding-top: 10px;
}


/*for print template*/
.print-container {
	width: 1500px;
}

.print-container-header {
	width: 1500px;
	border: solid 1px black;
	min-height: 560px;
}

.print-container-header p.filters {
	font-size: 17px;
}

div#bar-chart .flot-x-axis {
	margin-left: 9px;
}

div.dash-widget-item div.row {
	padding-top: 12px;
	padding-bottom: 18px; 
}