{% extends 'print/print_base.html' %}
{% load pages_tags humanize i18n staticfiles %}

{% block extra_css %}
	<link href="{% static 'vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css' %}" rel="stylesheet">
	<style type="text/css">
		i { cursor: pointer; }
	</style>
{% endblock %}


{% block page_body %}

<div class="container print-container">
<h1 class="text-center c-lightgreen m-b-25 p-b-25">Plan Order ( {{ company }} )</h1>
<div class="row">
	{% for plan in plans %}
	<div class="col-md-offset-1 col-md-10">
    <div class="panel panel-collapse" data-benefit="{{ plan.2 }}" data-plan="{{ plan.1 }}" data-plan_type="{{ plan.4 }}">
        <div class="panel-heading" role="tab" style="border-bottom: 2px solid #eee;">
            <h4 class="panel-title">
                <a class="collapsed pull-left" data-toggle="collapse" data-parent="#accordionGreen" href="#accordionGreen-{{ plan.1 }}" aria-expanded="false">
					<span>{{ plan.2 }} ( {{ plan.0 }} {% if plan.4 %} - {{ plan.4 }} {% endif %} )</span>
                </a>
				<span class="pull-right">
					<i class="zmdi zmdi-caret-down-circle zmdi-hc-lg" onclick="down(event, this);" st></i>
					&nbsp;&nbsp;&nbsp;
					<i class="zmdi zmdi-caret-up-circle zmdi-hc-lg" onclick="up(event, this);"></i>
				</span>
				<div class="clearfix"></div>
            </h4>
        </div>
        <div id="accordionGreen-{{ plan.1 }}" class="collapse" role="tabpanel">
            <div class="panel-body">
				{% for item in plan.3 %}
					{% if item.class != 'service' or item.class == 'service' and plan.4 != 'HDHP' %}
					<div class="col-md-12">
						<select class="selectpicker {{ item.class }}">
							{% for attr in item.attrs %}	
							<option value="{{ attr }}">{{ attr|title }}</option>
							{% endfor %}
						</select>
					</div>
					{% endif %}
				{% endfor %}
            </div>
        </div>
    </div>
    </div>
	{% endfor %}
</div>
<div class="row">
	<div class="col-md-offset-1 col-md-10">
		<div class="pull-right m-t-20">
			<button class="btn btn-success m-r-10" onclick="get_order();">Print</button>
			<button class="btn btn-default" onclick="window.close();">Cancel</button>
		</div>
	</div>
</div>
</div>
{% endblock %}

{% block extra_js %}
	<script src="{% static 'js/plan_order.js' %}"></script>
{% endblock %}        
