{% extends 'print/print_base.html' %}
{% load humanize bnchmrk_tag %}
{% load pages_tags mezzanine_tags i18n staticfiles %}

{% block extra_css %}
<link href="{% static 'vendors/bootgrid/jquery.bootgrid.min.css' %}" rel="stylesheet">
<link href="{% static 'css/bnchmrk.css' %}" rel="stylesheet">

<style type="text/css">
    body {margin-top: 0;}
</style>
{% endblock %}

{% block nav %}
{% endblock %}

{% block page_body %}
<div class="container print-container">
    <div class="bnchmrk_table">
        <div class="card section">
            <div class="row">
            <div class="col-md-8 m-t-25"><div class="col-md-12 m-t-25"><div class="col-md-12">
                <h4>{{ request.session.bnchmrk_benefit|format_benefit }} Benchmarking Analysis</h4>
                <h4><span id='prop_client_name'></span></h4>
                <h4><span id='prop_print_plan_name'></span></h4>
                <h6>Comparison Set Includes: {{ num_employers|intcomma }} Employers</h6>
                <p>
                    <b>Industries:</b> <span id='lbl_ft_industries'>{{ ft_industries_label }}</span>, &nbsp;&nbsp;&nbsp;&nbsp;
                    <b>Regions:</b> <span id='lbl_ft_regions'>{{ ft_regions_label }}</span>, &nbsp;&nbsp;&nbsp;&nbsp;
                    <b>Headcounts:</b> <span id='lbl_ft_headcounts'>{{ ft_head_counts_label }}</span>
                </p>
                <p>
                    <b>Other Filters:</b> <span id='lbl_ft_other'>{{ ft_other_label }}</span>,&nbsp;&nbsp;&nbsp;&nbsp;
                    <b>States Filters:</b> <span id='lbl_ft_state'>{{ ft_states_label }}</span>,&nbsp;&nbsp;&nbsp;&nbsp;
                    {% if plan_type and plan_type != 'None' %}
                    <b>Plan Type:</b> <span id='lbl_plan_type'>{{ plan_type }}</span>
                    {% endif %}
                </p>
            </div></div></div>
            <div class="col-md-4" style="margin-top: 60px;">
                <img src="{{ request.user|logo_img }}">
            </div>
            </div>
        </div>

        <div class="card1" id="bnchmrk_card">
        {% block page_content %}
        {% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block page_loader %}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        var EMPLOYER_THRESHOLD_MESSAGE = "{{ EMPLOYER_THRESHOLD_MESSAGE }}";
        var print_template = true;
        var bnchmrk_benefit = '{{ request.session.bnchmrk_benefit }}';
        var broker = '{{ request.user|broker }}';
    </script>

    <script src="{% static 'js/benefit.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
    <script src="{% static 'vendors/bower_components/flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'vendors/sparklines/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js' %}"></script>
    <script src="{% static 'js/flot-charts/pie-chart.js' %}"></script>
    <script src="{% static 'js/flot-charts/bar-chart.js' %}"></script>      
{% endblock %}
