{% load i18n %}

<div id="{{ inline_admin_formset.formset.prefix }}-group"
     class="inline-group inline-stacked{% if inline_admin_formset.opts.sortable %} sortable{% endif %}{% if inline_admin_formset.opts.classes %} {{ inline_admin_formset.opts.classes|join:" " }}{% endif %}" name="inlinegroup">
    <h2>{{ inline_admin_formset.opts.verbose_name_plural|title }}</h2>
    <ul class="inline-item-tools">
        {% block inline-item-tools %}
            <li><a href="javascript://" class="openhandler" title="{% trans 'Open All Items' %}"></a></li>
            <li><a href="javascript://" class="closehandler" title="{% trans 'Close All Items' %}"></a></li>
            {% if inline_admin_formset.opts.allow_add %}<li><a href="javascript://" class="addhandler" title="{% trans 'Add Item' %}"></a></li>{% endif %}
        {% endblock %}
    </ul>
    {{ inline_admin_formset.formset.management_form }}
    {{ inline_admin_formset.formset.non_form_errors }}
    <div class="items"> <!-- sortable container -->
        {% for inline_admin_form in inline_admin_formset %}
        <div id="{{ inline_admin_formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}"
             class="inline-related collapse-closed{% if inline_admin_form.original or inline_admin_form.show_url %} has_original{% endif %}{% if forloop.last %} empty-form{% endif %}"> <!-- sortable items -->
            <!-- headline, original, delete/link/sort -->
            <h3>
                {% for fieldset in inline_admin_form %}
                    {% for line in fieldset %}
                        {% for field in line %}
                            {% if field.field.name == "_order" %} {{ field.field }} &nbsp; {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
                <b class="inline_label">{{ inline_admin_formset.opts.verbose_name|title }} #{{ forloop.counter }}</b>&nbsp;&nbsp;{% if inline_admin_form.original %}{{ inline_admin_form.original }}{% endif %}
            </h3>
            <ul class="inline-item-tools">
                {% if inline_admin_form.show_url %}<li><a href="../../../r/{{ inline_admin_form.original.content_type_id }}/{{ inline_admin_form.original.id }}/" class="viewsitelink" title="{% trans 'View on Site' %}" target="_blank"></a></li>{% else %}<li>&nbsp;</li>{% endif %}
                {% if inline_admin_formset.opts.sortable %}<li><a href="javascript://" class="draghandler" title="Move Item"></a></li>{% else %}<li>&nbsp;</li>{% endif %}
                {% if inline_admin_formset.formset.can_delete and inline_admin_form.original %}<li>{{ inline_admin_form.deletion_field.field }}<a href="javascript://" class="deletelink" title="{% trans 'Delete Item' %}"></a></li>{% else %}<li>&nbsp;</li>{% endif %}
            </ul>
            <!-- fieldsets -->
            {% if inline_admin_form.form.non_field_errors %}{{ inline_admin_form.form.non_field_errors }}{% endif %}
            {% for fieldset in inline_admin_form %}
<fieldset class="module aligned ">
    <table>
        <col width="25%">
        <col width="25%">
        <col width="25%">
        <col width="25%">
      <tbody>       
        <tr>
            <td colspan="2" class="change-header">Voluntary Offering</td>  
            <td colspan="2" class="change-header">PPACA Offering</td>  
        </tr>
        <tr>
            <td {% if fieldset.form.offer_vol_life.errors %} class="errors"{% endif %}>{{ fieldset.form.offer_vol_life.errors }}{{ fieldset.form.offer_vol_life.label_tag }}</td>
            <td {% if fieldset.form.offer_vol_life.errors %} class="errors"{% endif %}>{{ fieldset.form.offer_vol_life }}</td> 
            <td {% if fieldset.form.mec.errors %} class="errors"{% endif %}>{{ fieldset.form.mec.errors }}{{ fieldset.form.mec.label_tag }}</td>
            <td {% if fieldset.form.mec.errors %} class="errors"{% endif %}>{{ fieldset.form.mec }}</td>
        </tr>
        <tr>
            <td {% if fieldset.form.offer_vol_std.errors %} class="errors"{% endif %}>{{ fieldset.form.offer_vol_std.errors }}{{ fieldset.form.offer_vol_std.label_tag }}</td>
            <td {% if fieldset.form.offer_vol_std.errors %} class="errors"{% endif %}>{{ fieldset.form.offer_vol_std }}</td>
            <td {% if fieldset.form.mvp.errors %} class="errors"{% endif %}>{{ fieldset.form.mvp.errors }}{{ fieldset.form.mvp.label_tag }}</td>
            <td {% if fieldset.form.mvp.errors %} class="errors"{% endif %}>{{ fieldset.form.mvp }}</td>
        </tr>
        <tr>
            <td {% if fieldset.form.offer_vol_ltd.errors %} class="errors"{% endif %}>{{ fieldset.form.offer_vol_ltd.errors }}{{ fieldset.form.offer_vol_ltd.label_tag }}</td>
            <td {% if fieldset.form.offer_vol_ltd.errors %} class="errors"{% endif %}>{{ fieldset.form.offer_vol_ltd }}</td>   
            <td></td>
            <td></td>                 
        </tr>
        <tr>
            <td colspan="2" class="change-header">Part-Time Offering</td>  
            <td colspan="2" class="change-header">Surcharges</td>  
        </tr>
        <tr>
            <td {% if fieldset.form.pt_medical.errors %} class="errors"{% endif %}>{{ fieldset.form.pt_medical.errors }}{{ fieldset.form.pt_medical.label_tag }}</td>
            <td {% if fieldset.form.pt_medical.errors %} class="errors"{% endif %}>{{ fieldset.form.pt_medical }}</td>
            <td {% if fieldset.form.spousal_surcharge.errors %} class="errors"{% endif %}>{{ fieldset.form.spousal_surcharge.errors }}{{ fieldset.form.spousal_surcharge.label_tag }}</td>
            <td {% if fieldset.form.spousal_surcharge.errors %} class="errors"{% endif %}>{{ fieldset.form.spousal_surcharge }}</td>
        </tr>
        <tr>
            <td {% if fieldset.form.pt_dental.errors %} class="errors"{% endif %}>{{ fieldset.form.pt_dental.errors }}{{ fieldset.form.pt_dental.label_tag }}</td>
            <td {% if fieldset.form.pt_dental.errors %} class="errors"{% endif %}>{{ fieldset.form.pt_dental }}</td> 
            <td {% if fieldset.form.spousal_surcharge_amount.errors %} class="errors"{% endif %}>{{ fieldset.form.spousal_surcharge_amount.errors }}{{ fieldset.form.spousal_surcharge_amount.label_tag }}</td>
            <td {% if fieldset.form.spousal_surcharge_amount.errors %} class="errors"{% endif %}>{{ fieldset.form.spousal_surcharge_amount }}</td> 
        </tr>
        <tr>                      
            <td {% if fieldset.form.pt_vision.errors %} class="errors"{% endif %}>{{ fieldset.form.pt_vision.errors }}{{ fieldset.form.pt_vision.label_tag }}</td>
            <td {% if fieldset.form.pt_vision.errors %} class="errors"{% endif %}>{{ fieldset.form.pt_vision }}</td>
            <td {% if fieldset.form.tobacco_surcharge.errors %} class="errors"{% endif %}>{{ fieldset.form.tobacco_surcharge.errors }}{{ fieldset.form.tobacco_surcharge.label_tag }}</td>
            <td {% if fieldset.form.tobacco_surcharge.errors %} class="errors"{% endif %}>{{ fieldset.form.tobacco_surcharge }}</td> 
        </tr>  
        <tr>
            <td {% if fieldset.form.pt_life.errors %} class="errors"{% endif %}>{{ fieldset.form.pt_life.errors }}{{ fieldset.form.pt_life.label_tag }}</td>
            <td {% if fieldset.form.pt_life.errors %} class="errors"{% endif %}>{{ fieldset.form.pt_life }}</td>
            <td {% if fieldset.form.tobacco_surcharge_amount.errors %} class="errors"{% endif %}>{{ fieldset.form.tobacco_surcharge_amount.errors }}{{ fieldset.form.tobacco_surcharge_amount.label_tag }}</td>
            <td {% if fieldset.form.tobacco_surcharge_amount.errors %} class="errors"{% endif %}>{{ fieldset.form.tobacco_surcharge_amount }}</td> 
        </tr>
        <tr>
            <td {% if fieldset.form.pt_std.errors %} class="errors"{% endif %}>{{ fieldset.form.pt_std.errors }}{{ fieldset.form.pt_std.label_tag }}</td>
            <td {% if fieldset.form.pt_std.errors %} class="errors"{% endif %}>{{ fieldset.form.pt_std }}</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td {% if fieldset.form.pt_ltd.errors %} class="errors"{% endif %}>{{ fieldset.form.pt_ltd.errors }}{{ fieldset.form.pt_ltd.label_tag }}</td>
            <td {% if fieldset.form.pt_ltd.errors %} class="errors"{% endif %}>{{ fieldset.form.pt_ltd }}</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="2" class="change-header">Contribution Strategies</td>  
            <td colspan="2" class="change-header">Other Strategies</td>  
        </tr>
        <tr>
            <td {% if fieldset.form.salary_banding.errors %} class="errors"{% endif %}>{{ fieldset.form.salary_banding.errors }}{{ fieldset.form.salary_banding.label_tag }}</td>
            <td {% if fieldset.form.salary_banding.errors %} class="errors"{% endif %}>{{ fieldset.form.salary_banding }}</td> 
            <td {% if fieldset.form.offer_fsa.errors %} class="errors"{% endif %}>{{ fieldset.form.offer_fsa.errors }}{{ fieldset.form.offer_fsa.label_tag }}</td>
            <td {% if fieldset.form.offer_fsa.errors %} class="errors"{% endif %}>{{ fieldset.form.offer_fsa }}</td>
        </tr>
        <tr>
            <td {% if fieldset.form.wellness_banding.errors %} class="errors"{% endif %}>{{ fieldset.form.wellness_banding.errors }}{{ fieldset.form.wellness_banding.label_tag }}</td>
            <td {% if fieldset.form.wellness_banding.errors %} class="errors"{% endif %}>{{ fieldset.form.wellness_banding }}</td> 
            <td {% if fieldset.form.contribution_bundle.errors %} class="errors"{% endif %}>{{ fieldset.form.contribution_bundle.errors }}{{ fieldset.form.contribution_bundle.label_tag }}</td>
            <td {% if fieldset.form.contribution_bundle.errors %} class="errors"{% endif %}>{{ fieldset.form.contribution_bundle }}</td>                      
        </tr>   
        <tr>
            <td {% if fieldset.form.defined_contribution.errors %} class="errors"{% endif %}>{{ fieldset.form.defined_contribution.errors }}{{ fieldset.form.defined_contribution.label_tag }}</td>
            <td {% if fieldset.form.defined_contribution.errors %} class="errors"{% endif %}>{{ fieldset.form.defined_contribution }}</td>
            <td {% if fieldset.form.narrow_network.errors %} class="errors"{% endif %}>{{ fieldset.form.narrow_network.errors }}{{ fieldset.form.narrow_network.label_tag }}</td>
            <td {% if fieldset.form.narrow_network.errors %} class="errors"{% endif %}>{{ fieldset.form.narrow_network }}</td>
        </tr>            
      </tbody>
    </table>
</fieldset>            {% endfor %}
            {% if inline_admin_form.needs_explicit_pk_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
            {{ inline_admin_form.fk_field.field }}
        </div>
        {% endfor %}
        {{ inline_admin_formset.extra_forms }}
    </div>
</div>

<div class="sortablehelper">
    <h3><b>Sortable Helper</b></h3>
</div>

<script type="text/javascript">

(function($) {
  var prefix = "{{ inline_admin_formset.formset.prefix|escapejs }}";
  $("#{{ inline_admin_formset.formset.prefix|escapejs }}-group .inline-related").stackedFormset({
    prefix: prefix,
    addText: "{% filter escapejs %}{% blocktrans with inline_admin_formset.opts.verbose_name|capfirst as verbose_name %}Add another {{ verbose_name }}{% endblocktrans %}{% endfilter %}",
    deleteText: "{% filter escapejs %}{% trans 'Delete Item' %}{% endfilter %}",
  });
  $(document).on("formset:added", function(event, $row, targetPrefix) {
    if (targetPrefix === prefix) {
        // Tweak the Delete link to resemble the ones defined in template
        var $deleteLink = $row.find(".inline-deletelink");
        $deleteLink
            .appendTo($row.find("ul.inline-item-tools"))
            .wrap("<li/>")
            .addClass("deletelink")
            .attr("title", $deleteLink.text())
            .text("");
    }
  });
})(django.jQuery);
</script>
