{% extends "base.html" %}
{% load humanize bnchmrk_tag %}
{% load pages_tags mezzanine_tags i18n staticfiles %}

{% block extra_css %}
    <link href="{% static 'css/bnchmrk.css' %}" rel="stylesheet">
{% endblock %}

{% block page_body %}
<section id="content">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li>{{ request.session.bnchmrk_benefit|replace_slash }} Benchmarking</li>
        </ol>

        <div class="card">
            <div class="card-body card-padding">
                <div class="row">               
                    <div class="col-sm-3 m-b-15">
                        <p class="f-500 c-black m-b-15">Select Industries:</p>

                        <select name="industry" multiple="" id="industries" class="selectpicker" data-none-selected-text="All Industries">
                            {% for item in industries %}
                            <option value="{{ item }}">{{ item }}</option>
                            {% endfor %}
                        </select>

                    </div>
                    <div class="col-sm-2 m-b-15">
                        <p class="f-500 c-black m-b-15">Select Regions:</p>
                        <select name="" multiple="false" id="regions" class="selectpicker" size="1" data-none-selected-text="All Regions">
                            <option value="new_england">New England</option>
                            <option value="mid_atlantic">Tri-State Area</option>
                            <option value="south_atlantic">South Atlantic</option>
                            <option value="south_cental">South Central</option>
                            <option value="east_central">East North Central</option>
                            <option value="west_central">West North Central</option>
                            <option value="mountain">Mountain</option>
                            <option value="pacific">Pacific</option>
                        </select>
                    </div>
                    <div class="col-sm-2 m-b-15">
                        <p class="f-500 c-black m-b-15">Select States:</p>
                        <select name="" id="states" multiple class="selectpicker" data-none-selected-text="All">
                            <option value="*">All</option>
                            {% for item in STATES %}
                            {% if item.0 %}
                                <option value="{{ item.0 }}">{{ item.1 }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>                        
                    </div>
                    <div class="col-sm-2 m-b-15">
                        <p class="f-500 c-black m-b-15">Select Headcounts:</p>
                        <select name="head-count" multiple="" id="head-counts" class="selectpicker" data-none-selected-text="All Sizes">
                            <option value="0-249">Up to 250</option>
                            <option value="250-499">250 to 499</option>
                            <option value="500-999">500 to 999</option>
                            <option value="1000-4999">1,000 to 4,999</option>
                            <option value="5000-2000000">5,000 and Up</option>
                        </select>
                    </div>
                    <div class="col-sm-2 m-b-15">
                        <p class="f-500 c-black m-b-15">Select Other:</p>
                        <select name="" multiple="" id="other_filter" class="selectpicker" data-none-selected-text="All">
                            <option value="nonprofit">Non-Profit</option>
                            <option value="govt_contractor">Gov't Contractor</option>
                        </select>
                    </div>
                    <div class="col-sm-3 m-b-15">
                        <p class="f-500 c-black m-b-15">Select Plan Type:</p>
                        <select name="" id="plan_types" class="selectpicker" data-none-selected-text="All">
                            <option value="*">All</option>
                            {% for item in plan_types %}
                            <option value="{{ item }}">{{ item }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-6 m-b-15">
                        <p class="f-500 c-black m-b-15">Select Account Plan:</p>
                        <select name="" id="plans" class="selectpicker" data-none-selected-text="No Comparison">
                        </select>
                    </div>            
                    <div class="col-sm-2 m-t-25 pull-right">
                        <a class="btn btn-default btn-icon-text" href="/print_page"><i class="zmdi zmdi-print"></i> Print</a>            
                    </div>
                </div>
            </div>
        </div>
        <div class="benefit-content">
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        var bnchmrk_benefit = '{{ request.session.bnchmrk_benefit }}';
    </script>

    <script src="{% static 'js/benefit.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
    <script src="{% static 'vendors/bower_components/flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'js/flot-charts/pie-chart.js' %}"></script>
    <script src="{% static 'js/flot-charts/bar-chart.js' %}"></script>  
{% endblock %}