{% extends base_template %}
{% load humanize bnchmrk_tag %}

{% block page_content %}
{% if num_employers >= EMPLOYER_THRESHOLD %}

    <!-- Prevalence -->
    <div class="card section">
        <div class="row">
            <div class="col-md-6 section-content-left">
                <div class="col-md-9">
                    <table class="table table-striped table-content">
                        <col width="60%">
                        <col width="40%">
                        <thead>
                            <tr>
                                <th class="row-label">Plan Type Offering</th>
                                <th>Employers</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="row-label">PPO/POS</td>
                                <td>{{ prcnt_ppo }}</td>
                            </tr>
                            <tr>
                                <td class="row-label">HMO/EPO</td>
                                <td>{{ prcnt_hmo }}</td>
                            </tr>
                            <tr>
                                <td class="row-label">HDHP</td>
                                <td>{{ prcnt_hdhp }}</td>
                            </tr>
                        </tbody>
                    </table> 
                </div>
                <div class="col-md-3">
                    <div id="bar-chart" style="height: 190px;"></div>
                </div>                
            </div>
            <div class="col-md-6 section-content-right">
                <div class="col-md-9">
                    <table class="table table-striped table-content">
                        <col width="60%">
                        <col width="40%">
                        <thead>
                            <tr>
                                <th class="row-label">Number of Plans Offered</th>
                                <th>Employers</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="row-label">Not Offered</td>
                                <td>{{ prcnt_plan0 }}%</td>
                            </tr>
                            <tr>
                                <td class="row-label">One Plan</td>
                                <td>{{ prcnt_plan1 }}%</td>
                            </tr>
                            <tr>
                                <td class="row-label">Two Plans</td>
                                <td>{{ prcnt_plan2 }}%</td>
                            </tr>
                            <tr>
                                <td class="row-label">Three or More Plans</td>
                                <td>{{ prcnt_plan3_or_more }}%</td>
                            </tr>
                        </tbody>
                    </table> 
                </div>
                <div class="col-md-3">
                    <div id="donut-chart" class="flot-chart-pie" style="height: 190px;"></div>
                    <!-- <div class="flc-donut hidden-xs"></div> -->
                </div>
            </div>
        </div>
    </div> 

    <!-- In-Network Cost Share -->
    <div class="card section">
        <div class="row">
            <div class="col-md-5 section-content">
                <table class="table table-striped table-content">
                    <col width="50%">
                    <col width="25%">
                    <col width="25%">
                    <thead>
                        <tr>
                            <th class="row-label">In Network Cost Share</th>
                            <th>Benchmark</th>
                            <th class="toggle_plan">Your Plan</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="quintile-subject">
                            <td class="row-label">Deductible - Individual</td>
                            <td>{{ mdn_in_ded_single }}</td>
                            <td><span id="prop_in_ded_single"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Deductible - Family</td>
                            <td>{{ mdn_in_ded_family }}</td>
                            <td><span id="prop_in_ded_family"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Out of Pocket Maximum - Individual</td>
                            <td>{{ mdn_in_max_single }}</td>
                            <td><span id="prop_in_max_single"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Out of Pocket Maximum - Family</td>
                            <td>{{ mdn_in_max_family }}</td>
                            <td><span id="prop_in_max_family"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Medical Coinsurance</td>
                            <td>{{ mdn_in_coin }}</td>
                            <td><span id="prop_in_coin"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Rx Coinsurance</td>
                            <td>{{ mdn_rx_coin }}</td>
                            <td><span id="prop_rx_coin"></span></td>
                        </tr> 
                    </tbody>
                </table>
            </div>
            <div class="col-md-7 section-graph">
                <div class="col-sm-12 m-b-15 m-r-25">
                    <select class="selectpicker property_inv" onchange="update_quintile(this, 'MEDICAL-1', 'prop_rank_in_ded_single', true);">
                        <option value="D_in_ded_single">In Network Deductible - Individual</option>
                        <option value="D_in_ded_family">In Network Deductible - Family</option>
                        <option value="D_in_max_single">In Network Maximum - Individual</option>
                        <option value="D_in_max_family">In Network Maximum - Family</option>
                        <option value="P_in_coin">In Network Medical Coinsurance</option>
                        <option value="P_rx_coin">In Network Rx Coinsurance</option>
                    </select>
                </div>                
                <div class="col-md-10">
                    <div id="MEDICAL-1" class="flot-chart"></div>
                </div>
                <div class="col-md-2 section-score text-center">
                    <h5 class="toggle_plan">Percentile Rank</h5>
                    <p><span id="prop_rank_in_ded_single" class="prop_rank_in_ded_single"></span></p>           
                </div> 
            </div>
        </div>
    </div>

    <!-- Out-of-Network Cost Share -->
    <div class="card section out-benefit">
        <div class="row">
            <div class="col-md-5 section-content">
                <table class="table table-striped table-content">
                    <col width="50%">
                    <col width="25%">
                    <col width="25%">
                    <thead>
                        <tr>
                            <th class="row-label">Out of Network Cost Share</th>
                            <th>Benchmark</th>
                            <th class="toggle_plan">Your Plan</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="quintile-subject">
                            <td class="row-label">Deductible - Individual</td>
                            <td>{{ mdn_out_ded_single }}</td>
                            <td><span id="prop_out_ded_single"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Deductible - Family</td>
                            <td>{{ mdn_out_ded_family }}</td>
                            <td><span id="prop_out_ded_family"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Maximum - Individual</td>
                            <td>{{ mdn_out_max_single }}</td>
                            <td><span id="prop_out_max_single"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Maximum - Family</td>
                            <td>{{ mdn_out_max_family }}</td>
                            <td><span id="prop_out_max_family"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Coinsurance</td>
                            <td>{{ mdn_out_coin }}</td>
                            <td><span id="prop_out_coin"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Deductibles Accumulate Across Networks</td>
                            <td>{{ prcnt_ded_cross }}</td>
                            <td><span id="prop_ded_cross"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Maximums Accumulate Across Networks</td>
                            <td>{{ prcnt_max_cross }}</td>
                            <td><span id="prop_max_cross"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-7 section-graph">
                <div class="col-sm-12 m-b-15 m-r-25">
                    <select class="selectpicker property_inv" onchange="update_quintile(this, 'MEDICAL-2', 'prop_rank_out_ded_single', true);">
                        <option value="D_out_ded_single">Out of Network Deductible - Individual</option>
                        <option value="D_out_ded_family">Out of Network Deductible - Family</option>
                        <option value="D_out_max_single">Out of Network Maximum - Individual</option>
                        <option value="D_out_max_family">Out of Network Maximum - Family</option>
                        <option value="P_out_coin">Out of Network Coinsurance</option>
                    </select>
                </div>                
                <div class="col-md-10">
                    <div id="MEDICAL-2" class="flot-chart"></div>
                </div>
                <div class="col-md-2 section-score text-center">
                    <h5 class="toggle_plan">Percentile Rank</h5>
                    <p><span id="prop_rank_out_ded_single" class="prop_rank_out_ded_single"></span></p>           
                </div> 
            </div>
        </div>
    </div>

    <!-- Rx-Only Cost Share -->
    <div class="card section hdhp-benefit">
        <div class="row">
            <div class="col-md-5 section-content">
                <table class="table table-striped table-content">
                    <col width="50%">
                    <col width="25%">
                    <col width="25%">
                    <thead>
                        <tr>
                            <th class="row-label">Rx Only Cost Share</th>
                            <th>Benchmark</th>
                            <th class="toggle_plan">Your Plan</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="quintile-subject">
                            <td class="row-label">Deductible - Individual</td>
                            <td>{{ mdn_rx_ded_single }}</td>
                            <td><span id="prop_rx_ded_single"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Deductible - Family</td>
                            <td>{{ mdn_rx_ded_family }}</td>
                            <td><span id="prop_rx_ded_family"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Maximum - Individual</td>
                            <td>{{ mdn_rx_max_single }}</td>
                            <td><span id="prop_rx_max_single"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Maximum - Family</td>
                            <td>{{ mdn_rx_max_family }}</td>
                            <td><span id="prop_rx_max_family"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div> 

            <div class="col-md-7 section-graph">
                <div id="pie-charts" class="dash-widget-item">
                    <div class="bgm-lightblue">
                        <div class="dash-widget-header">
                            <div class="dash-widget-title">Rx-Only</div>
                        </div>
                        
                        <div class="clearfix"></div>
                        
                        <div class="row">
                        <div class="col-md-4 col-md-offset-2">
                        <div class="text-center p-20">
                            <div class="easy-pie main-pie" data-percent="{{ prcnt_rx_max_single }}">
                                <div class="percent">{{ prcnt_rx_ded_single|cut:"%" }}</div>
                                <div class="pie-title p-b-10">Require Seperate Deductibles</div>
                            </div>
                        </div>
                        </div>
                        <div class="col-md-4">
                        <div class="text-center p-20">
                            <div class="easy-pie main-pie" data-percent="{{ prcnt_rx_max_single }}">
                                <div class="percent">{{ prcnt_rx_max_single|cut:"%" }}</div>
                                <div class="pie-title p-b-10">Require Seperate Maximums</div>
                            </div>
                        </div>
                        </div>
                        </div>
                    </div>            
                </div>
            </div>
        </div>
    </div>

    <!-- Employee contributions -->
    <div class="card section">
        <div class="row">
            <div class="col-md-5 section-content">
                <table class="table table-striped table-content">
                    <col width="50%">
                    <col width="25%">
                    <col width="25%">
                    <thead>
                        <tr>
                            <th class="row-label">Employee Annual Contribution</th>
                            <th>Benchmark</th>
                            <th class="toggle_plan">Your Plan</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="quintile-subject">
                            <td class="row-label">Employee Only</td>
                            <td>{{ mdn_t1_ee }}</td>
                            <td><span id="prop_t1_ee"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Employee + Spouse</td>
                            <td>{{ mdn_t2_ee }}</td>
                            <td><span id="prop_t2_ee"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Employee + Child(ren)</td>
                            <td>{{ mdn_t3_ee }}</td>
                            <td><span id="prop_t3_ee"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Family</td>
                            <td>{{ mdn_t4_ee }}</td>
                            <td><span id="prop_t4_ee"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-7 section-graph">
                <div class="col-sm-12 m-b-15 m-r-25">
                    <select class="selectpicker property_inv" onchange="update_quintile(this, 'MEDICAL-8', 'prop_rank_t1_ee', true);">
                        <option value="D_t1_ee">Employee Only Contribution</option>
                        <option value="D_t2_ee">Employee + Spouse Contribution</option>
                        <option value="D_t3_ee">Employee + Child(ren) Contribution</option>
                        <option value="D_t4_ee">Family Contribution</option>
                    </select>
                </div>                            
                <div class="col-md-10">
                    <div id="MEDICAL-8" class="flot-chart"></div>
                </div>
                <div class="col-md-2 section-score text-center">
                    <h5 class="toggle_plan">Percentile Rank</h5>
                    <p><span id="prop_rank_t1_ee" class="prop_rank_t1_ee"></span></p>           
                </div> 
            </div>
        </div>
    </div>  

    <!-- Gross contributions -->
    <div class="card section">
        <div class="row">
            <div class="col-md-5 section-content">
                <table class="table table-striped table-content">
                    <col width="50%">
                    <col width="25%">
                    <col width="25%">
                    <thead>
                        <tr>
                            <th class="row-label">Gross Annual Cost</th>
                            <th>Benchmark</th>
                            <th class="toggle_plan">Your Plan</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="quintile-subject">
                            <td class="row-label">Employee Only</td>
                            <td>{{ mdn_t1_gross }}</td>
                            <td><span id="prop_t1_gross"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Employee + Spouse</td>
                            <td>{{ mdn_t2_gross }}</td>
                            <td><span id="prop_t2_gross"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Employee + Child(ren)</td>
                            <td>{{ mdn_t3_gross }}</td>
                            <td><span id="prop_t3_gross"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Family</td>
                            <td>{{ mdn_t4_gross }}</td>
                            <td><span id="prop_t4_gross"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Age-Banded Rates</td>
                            <td>{{ prcnt_age_rated }}</td>
                            <td><span id="prop_age_rated"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-7 section-graph">
                <div class="col-sm-12 m-b-15 m-r-25">
                    <select class="selectpicker property_inv" onchange="update_quintile(this, 'MEDICAL-9', 'prop_rank_t1_gross', true);">
                        <option value="D_t1_gross">Employee Only Gross Cost</option>
                        <option value="D_t2_gross">Employee + Spouse Gross Cost</option>
                        <option value="D_t3_gross">Employee + Child(ren) Gross Cost</option>
                        <option value="D_t4_gross">Family Gross Cost</option>
                    </select>
                </div>                            
                <div class="col-md-10">
                    <div id="MEDICAL-9" class="flot-chart"></div>
                </div>
                <div class="col-md-2 section-score text-center">
                    <h5 class="toggle_plan">Percentile Rank</h5>
                    <p><span id="prop_rank_t1_gross" class="prop_rank_t1_gross"></span></p>           
                </div> 
            </div>
        </div>
    </div> 

    <!-- Employer-funded Spending Accounts -->
    <div class="card section">
        <div class="row">
            <div class="col-md-5 section-content">
                <table class="table table-striped table-content">
                    <col width="50%">
                    <col width="25%">
                    <col width="25%">
                    <thead>
                        <tr>
                            <th class="row-label">Employer-Provided Funding</th>
                            <th>Benchmark</th>
                            <th class="toggle_plan">Your Plan</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="quintile-subject">
                            <td class="row-label">Employee Only</td>
                            <td>{{ mdn_t1_ercdhp }}</td>
                            <td><span id="prop_t1_ercdhp"></span></td>
                        </tr>
                        <tr class="quintile-subject">
                            <td class="row-label">Employee + Spouse</td>
                            <td>{{ mdn_t2_ercdhp }}</td>
                            <td><span id="prop_t2_ercdhp"></span></td>
                        </tr>
                        <tr class="quintile-subject">
                            <td class="row-label">Employee + Child(ren)</td>
                            <td>{{ mdn_t3_ercdhp }}</td>
                            <td><span id="prop_t3_ercdhp"></span></td>
                        </tr>
                        <tr class="quintile-subject">
                            <td class="row-label">Family</td>
                            <td>{{ mdn_t4_ercdhp }}</td>
                            <td><span id="prop_t4_ercdhp"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-7 section-graph">
                <div id="pie-charts" class="dash-widget-item">
                    <div class="bgm-lightblue">
                        <div class="dash-widget-header">
                            <div class="dash-widget-title">Account Types</div>
                        </div>
                        
                        <div class="clearfix"></div>
                        <div class="row">
                        {% if prcnt_hsa != '0%' %}
                        <div class="col-md-4">
                        <div class="text-center p-20">
                            <div class="easy-pie main-pie out-benefit ppo-benefit" data-percent="{{ prcnt_hsa }}">
                                <div class="percent">{{ prcnt_hsa|cut:"%" }}</div>
                                <div class="pie-title p-b-10">Offer HSAs</div>
                            </div>
                        </div>
                        </div>
                        {% else %}
                        <div class="col-md-2"></div>
                        {% endif %}
                        <div class="col-md-4">
                        <div class="text-center p-20">
                            <div class="easy-pie main-pie" data-percent="{{ prcnt_hra }}">
                                <div class="percent">{{ prcnt_hra|cut:"%" }}</div>
                                <div class="pie-title p-b-10">Offer an HRA</div>
                            </div>
                        </div>
                        </div>
                        <!-- <div class="col-md-4">
                        <div class="text-center p-20">
                            <div class="easy-pie main-pie" data-percent="{{ prcnt_hra }}">
                                <div class="percent">{{ prcnt_hra|cut:"%" }}</div>
                                <div class="pie-title p-b-10">Offer FSAs</div>
                            </div>
                        </div>
                        </div> -->
                        </div>
                    </div>            
                </div>
            </div>
        </div>
    </div>

    <!-- Office Visits -->
    <div class="card section hdhp-benefit">
        <div class="row">
            <div class="col-md-5 section-content">
                <table class="table table-striped table-content">
                    <col width="34%">
                    <col width="33%">
                    <col width="33%">
                    <thead>
                        <tr>
                            <th class="row-label">Office Visits</th>
                            <th>Benchmark</th>
                            <th class="toggle_plan">Your Plan</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="row-label">Primary Care Physician</td>
                            <td><span id="PCP_attr">
                            {% include "includes/employee_span.html" with attr=PCP_attr only %}                                
                            </span></td>
                            <td><span id="service_PCP"></span></td>
                        </tr> 
                        <tr>
                            <td class="row-label">Specialist Physician</td>
                            <td><span id="SP_attr">
                            {% include "includes/employee_span.html" with attr=SP_attr only %}                                
                            </span></td>
                            <td><span id="service_SP"></span></td>
                        </tr> 
                        <tr>
                            <td class="row-label">Labs & X-Ray</td>
                            <td><span id="LX_attr">
                            {% include "includes/employee_span.html" with attr=LX_attr only %}                                
                            </span></td>
                            <td><span id="service_LX"></span></td>
                        </tr>                    
                    </tbody>
                </table>
            </div>
            <div class="col-md-7 e-cost-section">
                <div class="col-sm-12 m-b-15 m-r-25 m-t-25">
                    <select class="selectpicker service" onchange="update_e_cost(this);">
                        <option value="PCP">Primary Care Physician</option>
                        <option value="SP">Specialist Physician</option>
                        <option value="LX">Labs & X-Ray</option>
                    </select>
                </div>                
                <div class="col-sm-10 m-b-15 m-t-20">
                    <p class="f-500 c-black m-b-20"><span class="e_cost_title">{% include "includes/employee_span.html" with attr=PCP_attr only %} ( ${{ PCP_attr.1 }} )</span></p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" style="width: {{ PCP_attr.2|get_percent:PCP_attr.1 }}%">
                        </div>
                        <div class="progress-bar progress-bar-warning" style="width: {{ PCP_attr.3|get_percent:PCP_attr.1 }}%">
                        </div>
                        <div class="progress-bar progress-bar-danger" style="width: {{ PCP_attr.4|get_percent:PCP_attr.1 }}%">
                        </div>
                    </div>   
                </div>   
                <div class="col-sm-2 section-score text-center">
                    <h5 class="toggle_plan">Percentile Rank</h5>
                    <p><span id="prop_rank_PCP" class="prop_rank_PCP percentile"></span></p>           
                </div>                 
            </div>
        </div>
    </div>

    <!-- Facility Visits -->
    <div class="card section hdhp-benefit">
        <div class="row">
            <div class="col-md-5 section-content">
                <table class="table table-striped table-content">
                    <col width="34%">
                    <col width="33%">
                    <col width="33%">
                    <thead>
                        <tr>
                            <th class="row-label">Facility Visits</th>
                            <th>Benchmark</th>
                            <th class="toggle_plan">Your Plan</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="row-label">Inpatient Hospital</td>
                            <td><span id="IP_attr">
                            {% include "includes/employee_span.html" with attr=IP_attr only %}
                            </span></td>
                            <td><span id="service_IP"></span></td>
                        </tr>  
                        <tr>
                            <td class="row-label">Outpatient Hospital</td>
                            <td><span id="OP_attr">
                            {% include "includes/employee_span.html" with attr=OP_attr only %}
                            </span></td>
                            <td><span id="service_OP"></span></td>
                        </tr>                        
                        <tr>
                            <td class="row-label">Emergency Room</td>
                            <td><span id="ER_attr">
                            {% include "includes/employee_span.html" with attr=ER_attr only %}
                            </span></td>
                            <td><span id="service_ER"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Urgent Care</td>
                            <td><span id="UC_attr">
                            {% include "includes/employee_span.html" with attr=UC_attr only %}
                            </span></td>
                            <td><span id="service_UC"></span></td>
                        </tr>  
                    </tbody>
                </table>
            </div>
            <div class="col-md-7 e-cost-section">
                <div class="">
                <div class="col-sm-12 m-b-15 m-r-25 m-t-25">
                    <select class="selectpicker service" onchange="update_e_cost(this);">
                        <option value="IP">Inpatient Hospital</option>
                        <option value="OP">Outpatient Hospital</option>
                        <option value="ER">Emergency Room</option>
                        <option value="UC">Urgent Care</option>
                    </select>
                </div>                
                <div class="col-sm-10 m-b-15 m-t-20">
                    <p class="f-500 c-black m-b-20"><span class="e_cost_title">{% include "includes/employee_span.html" with attr=IP_attr only %} ( ${{ IP_attr.1 }} )</span></p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" style="width: {{ IP_attr.2|get_percent:IP_attr.1 }}">
                        </div>
                        <div class="progress-bar progress-bar-warning" style="width: {{ IP_attr.3|get_percent:IP_attr.1 }}%">
                        </div>
                        <div class="progress-bar progress-bar-danger" style="width: {{ IP_attr.4|get_percent:IP_attr.1 }}%">
                        </div>
                    </div>   
                </div>    
                <div class="col-sm-2 section-score text-center">
                    <h5 class="toggle_plan">Percentile Rank</h5>
                    <p><span id="prop_rank_IP" class="prop_rank_IP percentile"></span></p>           
                </div> 
            </div>                                     
            </div>
        </div>
    </div>

    <!-- Prescription Tiers -->
    <div class="card section hdhp-benefit">
        <div class="row">
            <div class="col-md-5 section-content">
                <table class="table table-striped table-content">
                    <col width="34%">
                    <col width="33%">
                    <col width="33%">
                    <thead>
                        <tr>
                            <th class="row-label">Prescription Tiers</th>
                            <th>Benchmark</th>
                            <th class="toggle_plan">Your Plan</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="row-label">Generic Rx</td>
                            <td><span id="Rx1_attr">
                            {% include "includes/employee_span.html" with attr=Rx1_attr only %}
                            </span></td>
                            <td><span id="service_Rx1"></span></td>
                        </tr> 
                        <tr>
                            <td class="row-label">Preferred Rx</td>
                            <td><span id="Rx2_attr">
                            {% include "includes/employee_span.html" with attr=Rx2_attr only %}
                            </span></td>
                            <td><span id="service_Rx2"></span></td>
                        </tr> 
                        <tr>
                            <td class="row-label">Non-Preferred Rx</td>
                            <td><span id="Rx3_attr">
                            {% include "includes/employee_span.html" with attr=Rx3_attr only %}
                            </span></td>
                            <td><span id="service_Rx3"></span></td>
                        </tr>  
                        <tr>
                            <td class="row-label">Specialty Rx</td>
                            <td><span id="Rx4_attr">
                            {% include "includes/employee_span.html" with attr=Rx4_attr only %}
                            </span></td>
                            <td><span id="service_Rx4"></span></td>
                        </tr>                 
                    </tbody>
                </table>
            </div>
            <div class="col-md-7 e-cost-section">
                <div class="col-sm-12 m-b-15 m-r-25 m-t-25">
                    <select class="selectpicker service" onchange="update_e_cost(this);">
                        <option value="Rx1">Generic Rx</option>
                        <option value="Rx2">Preferred Rx</option>
                        <option value="Rx3">Non-Preferred Rx</option>
                        <option value="Rx4">Specialty Rx</option>
                    </select>
                </div>                
                <div class="col-sm-10 m-b-15 m-t-20">
                    <p class="f-500 c-black m-b-20"><span class="e_cost_title">{% include "includes/employee_span.html" with attr=Rx1_attr only %} ( ${{ Rx1_attr.1 }} )</span></p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" style="width: {{ Rx1_attr.2|get_percent:Rx1_attr.1 }}%">
                        </div>
                        <div class="progress-bar progress-bar-warning" style="width: {{ Rx1_attr.3|get_percent:Rx1_attr.1 }}%">
                        </div>
                        <div class="progress-bar progress-bar-danger" style="width: {{ Rx1_attr.4|get_percent:Rx1_attr.1 }}%">
                        </div>
                    </div>   
                </div>    
                 <div class="col-sm-2 section-score text-center">
                    <h5 class="toggle_plan">Percentile Rank</h5>
                    <p><span id="prop_rank_Rx1" class="prop_rank_Rx1 percentile"></span></p>           
                </div>                 
            </div>
        </div>
    </div>

{% else %}
    {% include 'includes/too-few-employers.html' %}
{% endif %}

<script type="text/javascript">

    var gh1_data, gh2_data, gh3_data, gh6_data, gh8_data, gh9_data, gh10_data, gh11_data;

    {% if num_employers >= EMPLOYER_THRESHOLD %}
        gh1_data = {{ quintile_in_ded_single }};
        gh2_data = {{ quintile_out_ded_single }};
        gh8_data = {{ quintile_t1_ee }};
        gh9_data = {{ quintile_t1_gross }};

        gh10_data = [
            {data: {{ prcnt_plan0 }}, color: '#795548', label: 'No Plans Offered'},
            {data: {{ prcnt_plan1 }}, color: '#FFC107', label: 'One Plan Offered'},
            {data: {{ prcnt_plan2 }}, color: '#009688', label: 'Two Plans Offered'},
            {data: {{ prcnt_plan3_or_more }}, color: '#9E9E9E', label: 'Three or More Plans Offered'},
        ];        

        gh11_data = [{
            data : [['PPO/POS', {{ prcnt_ppo|cut:'%' }}], ['HMO/EPO', {{ prcnt_hmo|cut:'%' }}], ['HDHP', {{ prcnt_hdhp|cut:'%' }}]],
            bars : {
                show : true,
                barWidth : 0.30,
                order : 1,
                lineWidth: 0,
                fillColor: '#607D8B'
            }
        }];        

        var attribute_map = [
            {
                data: gh1_data,
                placeholder: 'MEDICAL-1',
                in_ded_single: 'dollar',
                in_ded_family: 'dollar',
                in_max_single: 'dollar',
                in_max_family: 'dollar',
                in_coin: 'percent',
                rx_coin: 'percent',
                inverse: true
            },
            {
                data: gh2_data,
                placeholder: 'MEDICAL-2',
                out_ded_single: 'dollar',
                out_ded_family: 'dollar',
                out_max_single: 'dollar',
                out_max_family: 'dollar',
                out_coin: 'percent',
                inverse: true
            },
            {
                data: gh8_data,
                placeholder: 'MEDICAL-8',
                t1_ee: 'dollar',
                t2_ee: 'dollar',
                t3_ee: 'dollar',
                t4_ee: 'dollar',
                inverse: true
            },
            {
                data: gh9_data,
                placeholder: 'MEDICAL-9',
                t1_gross: 'dollar',
                t2_gross: 'dollar',
                t3_gross: 'dollar',
                t4_gross: 'dollar',
                inverse: true
            },
        ];

    {% endif %}
</script>
{% endblock %}