
{% if num_employers >= EMPLOYER_THRESHOLD %}

    <div class="card section">
        <div class="row">
            <div class="col-md-6 section-content-left">
                <div class="col-md-9">
                    <table class="table table-striped table-content">
                        <col width="60%">
                        <col width="40%">
                        <thead>
                            <tr>
                                <th class="row-label">Plan Type Offering</th>
                                <th>Employers</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="row-label">Offer PPO/POS</td>
                                <td>{{ prcnt_ppo }}</td>
                            </tr>
                            <tr>
                                <td class="row-label">Offer HMO/EPO</td>
                                <td>{{ prcnt_hmo }}</td>
                            </tr>
                            <tr>
                                <td class="row-label">Offer HDHP</td>
                                <td>{{ prcnt_hdhp }}</td>
                            </tr>
                        </tbody>
                    </table> 
                </div>
                <div class="col-md-3">
                    <div id="bar-chart" style="height: 190px;"></div>
                </div>                
            </div>
            <div class="col-md-6 section-content-right">
                <div class="col-md-9">
                    <table class="table table-striped table-content">
                        <col width="60%">
                        <col width="40%">
                        <thead>
                            <tr>
                                <th class="row-label">Number of Plans Offered</th>
                                <th>Employers</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="row-label">No Plans Offered</td>
                                <td>{{ prcnt_plan0 }}%</td>
                            </tr>
                            <tr>
                                <td class="row-label">One Plan Offered</td>
                                <td>{{ prcnt_plan1 }}%</td>
                            </tr>
                            <tr>
                                <td class="row-label">Two Plans Offered</td>
                                <td>{{ prcnt_plan2 }}%</td>
                            </tr>
                            <tr>
                                <td class="row-label">Three or More Plans Offered</td>
                                <td>{{ prcnt_plan3_or_more }}%</td>
                            </tr>
                        </tbody>
                    </table> 
                </div>
                <div class="col-md-3">
                    <div id="donut-chart" class="flot-chart-pie" style="height: 190px;"></div>
                    <!-- <div class="flc-donut hidden-xs"></div> -->
                </div>
            </div>
        </div>
    </div> 

    <div class="card section">
        <div class="row">
            <div class="col-md-5 section-content">
                <table class="table table-striped table-content">
                    <col width="50%">
                    <col width="25%">
                    <col width="25%">
                    <thead>
                        <tr>
                            <th class="row-label">In-Network Cost Share</th>
                            <th>Benchmark</th>
                            <th class="toggle_plan">Current</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="quintile-subject">
                            <td class="row-label">Individual Deductible *</td>
                            <td>{{ mdn_in_ded_single }}</td>
                            <td><span id="prop_in_ded_single"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Family Deductible</td>
                            <td>{{ mdn_in_ded_family }}</td>
                            <td><span id="prop_in_ded_family"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Individual Maximum</td>
                            <td>{{ mdn_in_max_single }}</td>
                            <td><span id="prop_in_max_single"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Family Maximum</td>
                            <td>{{ mdn_in_max_family }}</td>
                            <td><span id="prop_in_max_family"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Coinsurance</td>
                            <td>{{ mdn_in_coin }}</td>
                            <td><span id="prop_in_coin"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 section-graph">
                <div class="col-sm-12 m-b-15 m-r-25">
                    <select class="selectpicker property" onchange="update_quintile(this, 'MEDICAL-1', 'prop_rank_in_ded_single');">
                        <option value="D_in_ded_single">Individual Deductible</option>
                        <option value="D_in_ded_family">Family Deductible</option>
                        <option value="D_in_max_single">Individual Maximum</option>
                        <option value="D_in_max_family">Family Maximum</option>
                        <option value="P_in_coin">Coinsurance</option>
                    </select>
                </div>                
                <div class="col-md-12">
                    <div id="MEDICAL-1" class="flot-chart"></div>
                </div>
            </div>
            <div class="col-md-1 section-score text-center">
                <h5 class="toggle_plan">Q-SCORE</h5>
                <p><span id="prop_rank_in_ded_single"></span></p>           
            </div> 
        </div>
    </div>

    <div class="card section out-benefit">
        <div class="row">
            <div class="col-md-5 section-content">
                <table class="table table-striped table-content">
                    <col width="50%">
                    <col width="25%">
                    <col width="25%">
                    <thead>
                        <tr>
                            <th class="row-label">Out-of-Network Cost Share</th>
                            <th>Benchmark</th>
                            <th class="toggle_plan">Current</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="quintile-subject">
                            <td class="row-label">Individual Deductible *</td>
                            <td>{{ mdn_out_ded_single }}</td>
                            <td><span id="prop_out_ded_single"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Family Deductible</td>
                            <td>{{ mdn_out_ded_family }}</td>
                            <td><span id="prop_out_ded_family"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Individual Maximum</td>
                            <td>{{ mdn_out_max_single }}</td>
                            <td><span id="prop_out_max_single"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Family Maximum</td>
                            <td>{{ mdn_out_max_family }}</td>
                            <td><span id="prop_out_max_family"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Coinsurance</td>
                            <td>{{ mdn_out_coin }}</td>
                            <td><span id="prop_out_coin"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Deductibles Accumulate Across Networks</td>
                            <td>{{ prcnt_ded_cross }}</td>
                            <td><span id="prop_ded_cross"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Maximums Accumulate Across Networks</td>
                            <td>{{ prcnt_max_cross }}</td>
                            <td><span id="prop_max_cross"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 section-graph">
                <div id="MEDICAL-2" class="flot-chart"></div>
            </div>
            <div class="col-md-1 section-score text-center">
                <h5 class="toggle_plan">Q-SCORE</h5>
                <p><span id="prop_rank_out_ded_single"></span></p>           
            </div> 
        </div>
    </div>

    <div class="card section">
        <div class="row">
            <div class="col-md-5 section-content">
                <table class="table table-striped table-content">
                    <col width="50%">
                    <col width="25%">
                    <col width="25%">
                    <thead>
                        <tr>
                            <th class="row-label">Employee Annual Contributions</th>
                            <th>Benchmark</th>
                            <th class="toggle_plan">Current</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="quintile-subject">
                            <td class="row-label">Employee Only *</td>
                            <td>{{ mdn_t1_ee }}</td>
                            <td><span id="prop_t1_ee"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Employee + Spouse</td>
                            <td>{{ mdn_t2_ee }}</td>
                            <td><span id="prop_t2_ee"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Employee + Child(ren)</td>
                            <td>{{ mdn_t3_ee }}</td>
                            <td><span id="prop_t3_ee"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Family</td>
                            <td>{{ mdn_t4_ee }}</td>
                            <td><span id="prop_t4_ee"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 section-graph">
                <div id="MEDICAL-8" class="flot-chart"></div>
            </div>
            <div class="col-md-1 section-score text-center">
                <h5 class="toggle_plan">Q-SCORE</h5>
                <p><span id="prop_rank_t1_ee"></span></p>           
            </div> 
        </div>
    </div> 

    <div class="card section">
        <div class="row">
            <div class="col-md-5 section-content">
                <table class="table table-striped table-content">
                    <col width="50%">
                    <col width="25%">
                    <col width="25%">
                    <thead>
                        <tr>
                            <th class="row-label">Gross Annual Cost</th>
                            <th>Benchmark</th>
                            <th class="toggle_plan">Current</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="quintile-subject">
                            <td class="row-label">Employee Only *</td>
                            <td>{{ mdn_t1_gross }}</td>
                            <td><span id="prop_t1_gross"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Employee + Spouse</td>
                            <td>{{ mdn_t2_gross }}</td>
                            <td><span id="prop_t2_gross"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Employee + Child(ren)</td>
                            <td>{{ mdn_t3_gross }}</td>
                            <td><span id="prop_t3_gross"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Family</td>
                            <td>{{ mdn_t4_gross }}</td>
                            <td><span id="prop_t4_gross"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Age-Banded Rates</td>
                            <td>{{ prcnt_age_rated }}</td>
                            <td><span id="prop_age_rated"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 section-graph">
                <div id="MEDICAL-9" class="flot-chart"></div>
            </div>
            <div class="col-md-1 section-score text-center">
                <h5 class="toggle_plan">Q-SCORE</h5>
                <p><span id="prop_rank_t1_gross"></span></p>           
            </div> 
        </div>
    </div>  

    <div class="card section">
        <div class="row">
            <div class="col-md-5 section-content">
                <table class="table table-striped table-content">
                    <col width="50%">
                    <col width="25%">
                    <col width="25%">
                    <thead>
                        <tr>
                            <th class="row-label">{% if request.session.bnchmrk_benefit == 'HDHP ' %} HDHP {% else %} HRA {% endif %} Funding</th>
                            <th>Benchmark</th>
                            <th class="toggle_plan">Current</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="row-label">Employee Only</td>
                            <td>{{ mdn_t1_ercdhp }}</td>
                            <td><span id="prop_t1_ercdhp"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Employee + Spouse</td>
                            <td>{{ mdn_t2_ercdhp }}</td>
                            <td><span id="prop_t2_ercdhp"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Employee + Child(ren)</td>
                            <td>{{ mdn_t3_ercdhp }}</td>
                            <td><span id="prop_t3_ercdhp"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Family</td>
                            <td>{{ mdn_t4_ercdhp }}</td>
                            <td><span id="prop_t4_ercdhp"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 section-graph ">
                <div class="easy-pie MEDICAL-11 out-benefit ppo-benefit" data-percent="{{ prcnt_hsa|cut:'%' }}">
                    <div class="percent">{{ prcnt_hsa|cut:'%' }}</div>
                    <div class="pie-title">Offer HSA</div>
                </div>
                <div class="easy-pie MEDICAL-12" data-percent="{{ prcnt_hra|cut:'%' }}">
                    <div class="percent">{{ prcnt_hra|cut:'%' }}</div>
                    <div class="pie-title">Offer HRA</div>
                </div>
                <!-- <div class="col-sm-3">
                    <div class="mini-charts-item bgm-lightgreen m-t-25">
                        <div class="clearfix">
                            <div class="chart stats-bar-2"></div>
                            <div class="count">
                                <small>Employee Only</small>
                                <h2>{{ mdn_t1_ercdhp }}</h2>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="chart stats-bar-2"></div>
                            <div class="count">
                                <small>Family</small>
                                <h2>{{ mdn_t4_ercdhp }}</h2>
                            </div>
                        </div>
                    </div>
                </div> -->                
            </div>
            <div class="col-md-1 section-score text-center">         
            </div> 
        </div>
    </div>

    <div class="card section hdhp-benefit">
        <div class="row">
            <div class="col-md-5 section-content">
                <table class="table table-striped table-content">
                    <col width="50%">
                    <col width="25%">
                    <col width="25%">
                    <thead>
                        <tr>
                            <th class="row-label">Physician Visit Coverage</th>
                            <th>Benchmark</th>
                            <th class="toggle_plan">Current</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="quintile-subject">
                            <td class="row-label">Primary Care Copay *</td>
                            <td>{{ mdn_pcp_copay }}</td>
                            <td><span id="prop_pcp_copay"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Specialist Copay</td>
                            <td>{{ mdn_sp_copay }}</td>
                            <td><span id="prop_sp_copay"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Coinsurance Applies to Primary Care Visits</td>
                            <td>{{ prcnt_coin_pcp_ded_apply }}</td>
                            <td><span id="prop_coin_pcp_ded_apply"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Coinsurance Applies to Specialist Visits</td>
                            <td>{{ prcnt_coin_sp_ded_apply }}</td>
                            <td><span id="prop_coin_sp_ded_apply"></span></td>
                        </tr>                
                        <tr>
                            <td class="row-label">Deductible Applies to Primary Care Visits</td>
                            <td>{{ prcnt_pcp_ded_apply }}</td>
                            <td><span id="prop_pcp_ded_apply"></span></td>
                        </tr> 
                        <tr>
                            <td class="row-label">Deductible Applies to Specialist Visits</td>
                            <td>{{ prcnt_sp_ded_apply }}</td>
                            <td><span id="prop_sp_ded_apply"></span></td>
                        </tr> 
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 section-graph">
                <div id="MEDICAL-3" class="flot-chart"></div>
            </div>
            <div class="col-md-1 section-score text-center">
                <h5 class="toggle_plan">Q-SCORE</h5>
                <p><span id="prop_rank_pcp_copay"></span></p>           
            </div> 
        </div>
    </div>

    <div class="card section hdhp-benefit">
        <div class="row">
            <div class="col-md-5 section-content">
                <table class="table table-striped table-content">
                    <col width="50%">
                    <col width="25%">
                    <col width="25%">
                    <thead>
                        <tr>
                            <th class="row-label">Hospital Visit Coverage</th>
                            <th>Benchmark</th>
                            <th class="toggle_plan">Current</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="quintile-subject">
                            <td class="row-label">Inpatient Copay/Visit Deductible *</td>
                            <td>{{ mdn_ip_copay }}</td>
                            <td><span id="prop_ip_copay"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Outpatient Copay/Visit Deductible</td>
                            <td>{{ mdn_op_copay }}</td>
                            <td><span id="prop_op_copay"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Coinsurance Applies to Inpatient Visits</td>
                            <td>{{ prcnt_coin_ip_ded_apply }}</td>
                            <td><span id="prop_coin_ip_ded_apply"></span></td>
                        </tr> 
                        <tr>
                            <td class="row-label">Coinsurance Applies to Outpatient Visits</td>
                            <td>{{ prcnt_coin_op_ded_apply }}</td>
                            <td><span id="prop_coin_op_ded_apply"></span></td>
                        </tr>                   
                        <tr>
                            <td class="row-label">Deductible Applies to Inpatient Visits</td>
                            <td>{{ prcnt_ip_ded_apply }}</td>
                            <td><span id="prop_ip_ded_apply"></span></td>
                        </tr>  
                        <tr>
                            <td class="row-label">Deductible Applies to Outpatient Visits</td>
                            <td>{{ prcnt_op_ded_apply }}</td>
                            <td><span id="prop_op_ded_apply"></span></td>
                        </tr>     
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 section-graph">
                <div id="MEDICAL-5" class="flot-chart"></div>
            </div>
            <div class="col-md-1 section-score text-center">
                <h5 class="toggle_plan">Q-SCORE</h5>
                <p><span id="prop_rank_ip_copay"></span></p>           
            </div> 
        </div>
    </div>

    <div class="card section hdhp-benefit">
        <div class="row">
            <div class="col-md-5 section-content">
                <table class="table table-striped table-content">
                    <col width="50%">
                    <col width="25%">
                    <col width="25%">
                    <thead>
                        <tr>
                            <th class="row-label">Other Facility Coverage</th>
                            <th>Benchmark</th>
                            <th class="toggle_plan">Current</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="quintile-subject">
                            <td class="row-label">Emergency Room Copay/Visit Deductible *</td>
                            <td>{{ mdn_er_copay }}</td>
                            <td><span id="prop_er_copay"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Urgent Care Copay/Visit Deductible</td>
                            <td>{{ mdn_uc_copay }}</td>
                            <td><span id="prop_uc_copay"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Labs & X-Ray Copay</td>
                            <td>{{ mdn_lx_copay }}</td>
                            <td><span id="prop_lx_copay"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Coinsurance Applies to Emergency Room Visits</td>
                            <td>{{ prcnt_coin_er_ded_apply }}</td>
                            <td><span id="prop_coin_er_ded_apply"></span></td>
                        </tr> 
                        <tr>
                            <td class="row-label">Coinsurance Applies to Urgent Care Visits</td>
                            <td>{{ prcnt_coin_uc_ded_apply }}</td>
                            <td><span id="prop_coin_uc_ded_apply"></span></td>
                        </tr>     
                        <tr>
                            <td class="row-label">Coinsurance Applies to Labs & X-Ray Visits</td>
                            <td>{{ prcnt_coin_lx_ded_apply }}</td>
                            <td><span id="prop_coin_lx_ded_apply"></span></td>
                        </tr>                                          
                        <tr>
                            <td class="row-label">Deductible Applies to Emergency Room Visits</td>
                            <td>{{ prcnt_er_ded_apply }}</td>
                            <td><span id="prop_er_ded_apply"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Deductible Applies to Urgent Care Visits</td>
                            <td>{{ prcnt_uc_ded_apply }}</td>
                            <td><span id="prop_uc_ded_apply"></span></td>
                        </tr>  
                        <tr>
                            <td class="row-label">Deductible Applies to Labs & X-Ray Visits</td>
                            <td>{{ prcnt_lx_ded_apply }}</td>
                            <td><span id="prop_lx_ded_apply"></span></td>
                        </tr>  
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 section-graph">
                <div id="MEDICAL-4" class="flot-chart"></div>
            </div>
            <div class="col-md-1 section-score text-center">
                <h5 class="toggle_plan">Q-SCORE</h5>
                <p><span id="prop_rank_er_copay"></span></p>           
            </div> 
        </div>
    </div>

    <div class="card section hdhp-benefit">
        <div class="row">
            <div class="col-md-5 section-content">
                <table class="table table-striped table-content">
                    <col width="50%">
                    <col width="25%">
                    <col width="25%">
                    <thead>
                        <tr>
                            <th class="row-label">Prescription Coverage</th>
                            <th>Benchmark</th>
                            <th class="toggle_plan">Current</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="quintile-subject">
                            <td class="row-label">Generic Retail Copay *</td>
                            <td>{{ mdn_rx1_copay }}</td>
                            <td><span id="prop_rx1_copay"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Preferred Retail Copay</td>
                            <td>{{ mdn_rx2_copay }}</td>
                            <td><span id="prop_rx2_copay"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Non-Preferred Retail Copay</td>
                            <td>{{ mdn_rx3_copay }}</td>
                            <td><span id="prop_rx3_copay"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Generic Mail Copay</td>
                            <td>{{ mdn_rx1_mail_copay }}</td>
                            <td><span id="prop_rx1_mail_copay"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Preferred Mail Copay</td>
                            <td>{{ mdn_rx2_mail_copay }}</td>
                            <td><span id="prop_rx2_mail_copay"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Non-Preferred Mail Copay</td>
                            <td>{{ mdn_rx3_mail_copay }}</td>
                            <td><span id="prop_rx3_mail_copay"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Deductible Applies to Generic Drugs</td>
                            <td>{{ prcnt_rx1_ded_apply }}</td>
                            <td><span id="prop_rx1_ded_apply"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Deductible Applies to Preferred Drugs</td>
                            <td>{{ prcnt_rx2_ded_apply }}</td>
                            <td><span id="prop_rx2_ded_apply"></span></td>
                        </tr>   
                        <tr>
                            <td class="row-label">Deductible Applies to Non-Preferred Drugs</td>
                            <td>{{ prcnt_rx3_ded_apply }}</td>
                            <td><span id="prop_rx3_ded_apply"></span></td>
                        </tr>             
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 section-graph">
                <div id="MEDICAL-6" class="flot-chart"></div>
            </div>
            <div class="col-md-1 section-score text-center">
                <h5 class="toggle_plan">Q-SCORE</h5>
                <p><span id="prop_rank_rx1_copay"></span></p>           
            </div> 
        </div>
    </div>

    <div class="card section hdhp-benefit">
        <div class="row">
            <div class="col-md-5 section-content">
                <table class="table table-striped table-content">
                    <col width="50%">
                    <col width="25%">
                    <col width="25%">
                    <thead>
                        <tr>
                            <th class="row-label">Prescription Cost Share</th>
                            <th>Benchmark</th>
                            <th class="toggle_plan">Current</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="row-label">Require Seperate Rx-Only Deductible *</td>
                            <td>{{ prcnt_rx_ded_single }}</td>
                            <td><span id=""></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Individual Deductible</td>
                            <td>{{ mdn_rx_ded_single }}</td>
                            <td><span id="prop_rx_ded_single"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Family Deductible</td>
                            <td>{{ mdn_rx_ded_family }}</td>
                            <td><span id="prop_rx_ded_family"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Require Seperate Rx-Only Maximum</td>
                            <td>{{ prcnt_rx_max_single }}</td>
                            <td><span id=""></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Individual Maximum</td>
                            <td>{{ mdn_rx_max_single }}</td>
                            <td><span id="prop_rx_max_single"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Family Maximum</td>
                            <td>{{ mdn_rx_max_family }}</td>
                            <td><span id="prop_rx_max_family"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Rx Coinsurance</td>
                            <td>{{ mdn_rx_coin }}</td>
                            <td><span id="prop_rx_coin"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Specialty Drug Retail Copay</td>
                            <td>{{ mdn_rx4_copay }}</td>
                            <td><span id="prop_rx4_copay"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Specialty Drug Mail Copay</td>
                            <td>{{ mdn_rx4_mail_copay }}</td>
                            <td><span id="prop_rx4_mail_copay"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Deductible Applies to Specialty Drugs</td>
                            <td>{{ prcnt_rx4_ded_apply }}</td>
                            <td><span id="prop_rx4_ded_apply"></span></td>
                        </tr>  
                    </tbody>
                </table>
            </div>
            <div class="col-md-3 section-graph">
                <div id="pie-charts" class="dash-widget-item">
                    <div class="bgm-pink">
                        <div class="dash-widget-header">
                            <div class="dash-widget-title">Email Statistics</div>
                        </div>
                        
                        <div class="clearfix"></div>
                        
                        <div class="text-center p-20 m-t-25">
                            <div class="easy-pie main-pie" data-percent="75">
                                <div class="percent">45</div>
                                <div class="pie-title">Total Emails Sent</div>
                            </div>
                        </div>
                    </div>            
                </div>
            </div>
        </div>
    </div>


{% else %}
    {% include 'includes/too-few-employers.html' %}
{% endif %}

<script type="text/javascript">

    var gh1_data, gh2_data, gh3_data, gh4_data, gh5_data, gh6_data, gh8_data, gh9_data, gh10_data, gh11_data;

    {% if num_employers >= EMPLOYER_THRESHOLD %}
        gh1_data = {{ quintile_in_ded_single }};
        gh2_data = {{ quintile_out_ded_single }};
        gh3_data = {{ quintile_pcp_copay }};
        gh4_data = {{ quintile_er_copay }};
        gh5_data = {{ quintile_ip_copay }};
        gh6_data = {{ quintile_rx1_copay }};
        gh8_data = {{ quintile_t1_ee }};
        gh9_data = {{ quintile_t1_gross }};

        gh10_data = [
            {data: {{ prcnt_plan0 }}, color: '#F44336', label: 'No Plans Offered'},
            {data: {{ prcnt_plan1 }}, color: '#03A9F4', label: 'One Plan Offered'},
            {data: {{ prcnt_plan2 }}, color: '#8BC34A', label: 'Two Plans Offered'},
            {data: {{ prcnt_plan3_or_more }}, color: '#FFEB3B', label: 'Three or More Plans Offered'},
        ];        

        gh11_data = [{
            data : [['Offer PPO/POS', {{ prcnt_ppo|cut:'%' }}], ['Offer HMO/EPO', {{ prcnt_hmo|cut:'%' }}], ['Offer HDHP', {{ prcnt_hdhp|cut:'%' }}]],
            bars : {
                show : true,
                barWidth : 0.08,
                order : 1,
                lineWidth: 0,
                fillColor: '#8BC34A'
            }
        }];        
    {% endif %}
</script>
