{% extends base_template %}
{% load humanize bnchmrk_tag %}

{% block page_content %}

{% if num_employers >= EMPLOYER_THRESHOLD %}

    <div class="card section">
        <div class="row">
            <div class="col-md-6 section-content-left">
                <div class="col-md-8">
                    <table class="table table-striped table-content">
                        <col width="60%">
                        <col width="40%">
                        <thead>
                            <tr>
                                <th class="row-label">Number of Plans</th>
                                <th>Employers</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="row-label">Not Offered</td>
                                <td>{{ prcnt_plan0 }}%</td>
                            </tr>
                            <tr>
                                <td class="row-label">One Plan</td>
                                <td>{{ prcnt_plan1 }}%</td>
                            </tr>
                            <tr>
                                <td class="row-label">Two Plans</td>
                                <td>{{ prcnt_plan2 }}%</td>
                            </tr>
                            <tr>
                                <td class="row-label">Three or More Plans</td>
                                <td>{{ prcnt_plan3_or_more }}%</td>
                            </tr>
                        </tbody>
                    </table> 
                </div>
                <div class="col-md-4">
                    <div id="donut-chart" class="flot-chart-pie" style="height: 190px;"></div>
                </div>
            </div>

            <div class="col-md-6 section-content-right">
                <div class="col-md-9">
                    <table class="table table-striped table-content">
                        <col width="50%">
                        <col width="25%">
                        <col width="25%">
                        <thead>
                            <tr>
                                <th class="row-label">Monthly Frequencies</th>
                                <th>Benchmark</th>
                                <th class="toggle_plan">Your Plan</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <tr>
                                <td class="row-label">Exams</td>
                                <td>{{ mdn_exam_frequency }}</td>
                                <td><span id="prop_exam_frequency"></span></td>
                            </tr>
                            <tr>
                                <td class="row-label">Lenses</td>
                                <td>{{ mdn_lenses_frequency }}</td>
                                <td><span id="prop_lenses_frequency"></span></td>
                            </tr>
                            <tr>
                                <td class="row-label">Frames</td>
                                <td>{{ mdn_frames_frequency }}</td>
                                <td><span id="prop_frames_frequency"></span></td>
                            </tr>
                            <tr>
                                <td class="row-label">Contacts</td>
                                <td>{{ mdn_contacts_frequency }}</td>
                                <td><span id="prop_contacts_frequency"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-3">
                    <!-- <div id="donut-chart" class="flot-chart-pie" style="height: 190px;"></div> -->
                </div>
            </div>
        </div>
    </div>

    <div class="card section">
        <div class="row">
            <div class="col-md-5 section-content">
                <table class="table table-striped table-content">
                    <col width="50%">
                    <col width="25%">
                    <col width="25%">
                    <thead>
                        <tr>
                            <th class="row-label">Vision Copay</th>
                            <th>Benchmark</th>
                            <th class="toggle_plan">Your Plan</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="quintile-subject">
                            <td class="row-label">Exam Copay</td>
                            <td>{{ mdn_exam_copay }}</td>
                            <td><span id="prop_exam_copay"></span></td>
                        </tr>
                        <tr class="quintile-subject">
                            <td class="row-label">Lenses Copay</td>
                            <td>{{ mdn_lenses_copay }}</td>
                            <td><span id="prop_lenses_copay"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Frames Copay</td>
                            <td>{{ mdn_frames_copay }}</td>
                            <td><span id="prop_frames_copay"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Contacts Copay</td>
                            <td>{{ mdn_contacts_copay }}</td>
                            <td><span id="prop_contacts_copay"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-7 section-graph">
                <div class="col-sm-12 m-b-15 m-r-25">
                    <select class="selectpicker property_inv" onchange="update_quintile(this, 'VISION-1', 'prop_rank_exam_copay', true);">
                        <option type="dollar" value="exam_copay">Exam Copay</option>
                        <option type="dollar" value="lenses_copay">Lenses Copay</option>
                        <option type="dollar" value="frames_copay">Frames Copay</option>
                        <option type="dollar" value="contacts_copay">Contacts Copay</option>
                    </select>
                </div>                
                <div class="col-md-10">
                    <div id="VISION-1" class="flot-chart"></div>
                </div>
                <div class="col-md-2 section-score text-center">
                    <h5 class="toggle_plan">Percentile Rank</h5>
                    <p><span id="prop_rank_{{ quintile_properties_inv|parse_list:0 }}" class="prop_rank_exam_copay"></span></p>           
                </div> 
            </div>              
        </div>
    </div>

    <div class="card section">
        <div class="row">
            <div class="col-md-5 section-content">
                <table class="table table-striped table-content">
                    <col width="50%">
                    <col width="25%">
                    <col width="25%">
                    <thead>
                        <tr>
                            <th class="row-label">Vision Allowance</th>
                            <th>Benchmark</th>
                            <th class="toggle_plan">Your Plan</th>
                        </tr>
                    </thead>
                    <tbody>                       
                        <tr>
                            <td class="row-label">Frames Allowance</td>
                            <td>{{ mdn_frames_allowance }}</td>
                            <td><span id="prop_frames_allowance"></span></td>
                        </tr>
                        <tr class="quintile-subject">
                            <td class="row-label">Contacts Allowance</td>
                            <td>{{ mdn_contacts_allowance }}</td>
                            <td><span id="prop_contacts_allowance"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-7 section-graph">
                <div class="col-sm-12 m-b-15 m-r-25">
                    <select class="selectpicker property" onchange="update_quintile(this, 'VISION-2', 'prop_rank_frames_allowance', false);">                      
                        <option type="dollar" value="frames_allowance">Frames Allowance</option>
                        <option type="dollar" value="contacts_allowance">Contacts Allowance</option>
                    </select>
                </div>                
                <div class="col-md-10">
                    <div id="VISION-2" class="flot-chart"></div>
                </div>
                <div class="col-md-2 section-score text-center">
                    <h5 class="toggle_plan">Percentile Rank</h5>
                    <p><span id="prop_rank_{{ quintile_properties|parse_list:0 }}" class="prop_rank_frames_allowance"></span></p>           
                </div> 
            </div>              
        </div>
    </div>

    <div class="card section">
        <div class="row">
            <div class="col-md-5 section-content">
                <table class="table table-striped table-content">
                    <col width="50%">
                    <col width="25%">
                    <col width="25%">
                    <thead>
                        <tr>
                            <th class="row-label">Out of Network Benefits</th>
                            <th>Benchmark</th>
                            <th class="toggle_plan">Your Plan</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="row-label">Exam Allowance</td>
                            <td>{{ mdn_exam_out_allowance }}</td>
                            <td><span id="prop_exam_out_allowance"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Lenses Allowance</td>
                            <td>{{ mdn_lenses_out_allowance }}</td>
                            <td><span id="prop_lenses_out_allowance"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Frames Allowance</td>
                            <td>{{ mdn_frames_out_allowance }}</td>
                            <td><span id="prop_frames_out_allowance"></span></td>
                        </tr>
                        <tr>
                            <td class="row-label">Contacts Allowance</td>
                            <td>{{ mdn_contacts_out_allowance }}</td>
                            <td><span id="prop_contacts_out_allowance"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card section">
        <div class="row">
        <div class="section-header">
            <h4></h4>
        </div>
        <div class="col-md-5 section-content">
            <table class="table table-striped table-content">
                <col width="50%">
                <col width="25%">
                <col width="25%">
                <thead>
                    <tr>
                        <th class="row-label">Employee Annual Contributions</th>
                        <th>Benchmark</th>
                        <th class="toggle_plan">Your Plan</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="quintile-subject">
                        <td class="row-label">Employee Only </td>
                        <td>{{ mdn_t1_ee }}</td>
                        <td><span id="prop_t1_ee"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Employee & Spouse</td>
                        <td>{{ mdn_t2_ee }}</td>
                        <td><span id="prop_t2_ee"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Employee & Children</td>
                        <td>{{ mdn_t3_ee }}</td>
                        <td><span id="prop_t3_ee"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Family</td>
                        <td>{{ mdn_t4_ee }}</td>
                        <td><span id="prop_t4_ee"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
       
        <div class="col-md-7 section-graph">
            <div class="col-sm-12 m-b-15 m-r-25">
                <select class="selectpicker property_inv" onchange="update_quintile(this, 'VISION-5', 'prop_rank_t1_ee', true);">
                    <option type="dollar" value="t1_ee">Employee Only</option>
                    <option type="dollar" value="t2_ee">Employee & Spouse</option>
                    <option type="dollar" value="t3_ee">Employee & Children</option>
                    <option type="dollar" value="t4_ee">Family</option>
                </select>
            </div>                
            <div class="col-md-10">
                <div id="VISION-5" class="flot-chart"></div>
            </div>
            <div class="col-md-2 section-score text-center">
                <h5 class="toggle_plan">Percentile Rank</h5>
                <p><span id="prop_rank_{{ quintile_properties_inv|parse_list:1 }}" class="prop_rank_t1_ee"></span></p>           
            </div> 
        </div>  

        </div>
    </div> 

    <div class="card section">
        <div class="row">
        <div class="col-md-5 section-content">
            <table class="table table-striped table-content">
                <col width="50%">
                <col width="25%">
                <col width="25%">
                <thead>
                    <tr>
                        <th class="row-label">Gross Annual Cost</th>
                        <th>Benchmark</th>
                        <th class="toggle_plan">Your Plan</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="quintile-subject">
                        <td class="row-label">Employee Only</td>
                        <td>{{ mdn_t1_gross }}</td>
                        <td><span id="prop_t1_gross"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Employee + Spouse</td>
                        <td>{{ mdn_t2_gross }}</td>
                        <td><span id="prop_t2_gross"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Employee + Child(ren)</td>
                        <td>{{ mdn_t3_gross }}</td>
                        <td><span id="prop_t3_gross"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Family</td>
                        <td>{{ mdn_t4_gross }}</td>
                        <td><span id="prop_t4_gross"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-7 section-graph">
            <div class="col-sm-12 m-b-15 m-r-25">
                <select class="selectpicker property_inv" onchange="update_quintile(this, 'VISION-6', 'prop_rank_t1_gross', true);">
                    <option type="dollar" value="t1_gross">Employee Only</option>
                    <option type="dollar" value="t2_gross">Employee + Spouse</option>
                    <option type="dollar" value="t3_gross">Employee + Child(ren)</option>
                    <option type="dollar" value="t4_gross">Family</option>
                </select>
            </div>                
            <div class="col-md-10">
                <div id="VISION-6" class="flot-chart"></div>
            </div>
            <div class="col-md-2 section-score text-center">
                <h5 class="toggle_plan">Percentile Rank</h5>
                <p><span id="prop_rank_{{ quintile_properties_inv|parse_list:2 }}" class="prop_rank_t1_gross"></span></p>           
            </div> 
        </div>          
        </div>
    </div>  

{% else %}
    {% include 'includes/too-few-employers.html' %}
{% endif %}


<script type="text/javascript">
var quintile_properties_, quintile_properties_inv_;
quintile_properties_ = {{ quintile_properties|safe }};
quintile_properties_inv_ = {{ quintile_properties_inv|safe }};

var gh1_data, gh2_data, gh3_data, gh4_data, gh5_data, gh6_data, gh7_data;
var plan_type = '{{ request.session.plan_type }}';

{% if num_employers >= EMPLOYER_THRESHOLD %}
    gh1_data = {{ quintile_1 }};
    gh2_data = {{ quintile_0 }};
    gh5_data = {{ quintile_2 }};
    gh6_data = {{ quintile_3 }};

    gh7_data = [
        {data: {{ prcnt_plan0 }}, color: '#795548', label: 'No Plans Offered'},
        {data: {{ prcnt_plan1 }}, color: '#9E9E9E', label: 'One Plan Offered'},
        {data: {{ prcnt_plan2 }}, color: '#009688', label: 'Two Plans Offered'},
        {data: {{ prcnt_plan3_or_more }}, color: '#FFC107', label: 'Three or More Plans Offered'},
    ];        

    var attribute_map = [
        {
            data: gh1_data,
            placeholder: 'VISION-1',
            exam_copay: 'dollar',
            lenses_copay: 'dollar',
            contacts_copay: 'dollar',
            frames_copay: 'dollar',
            inverse: true
        },
        {
            data: gh2_data,
            placeholder: 'VISION-2',
            frames_allowance: 'dollar',
            contacts_allowance: 'dollar',
            inverse: false
        },
        {
            data: gh5_data,
            placeholder: 'VISION-5',
            t1_ee: 'dollar',
            t2_ee: 'dollar',
            t3_ee: 'dollar',
            t4_ee: 'dollar',
            inverse: true
        },
        {
            data: gh6_data,
            placeholder: 'VISION-6',
            t1_gross: 'dollar',
            t2_gross: 'dollar',
            t3_gross: 'dollar',
            t4_gross: 'dollar',
            inverse: true
        },    
    ];  
{% endif %}
</script>
{% endblock %}