{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css %}
{% endblock %}

{% block page_body %}
<section id="content">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/accounts">Accounts</a></li>
            <li class="active">{{ employer.name }}</li>
        </ol>

        <!-- <div class="block-header">
            <h2>{{ employer.name }} <small>{{ employer.broker }}</small></h2>
            
            <ul class="actions m-t-20 hidden-xs">
                <li class="dropdown">
                    <a href="" data-toggle="dropdown">
                        <i class="zmdi zmdi-more-vert"></i>
                    </a>
        
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="">Privacy Settings</a>
                        </li>
                        <li>
                            <a href="">Account Settings</a>
                        </li>
                        <li>
                            <a href="">Other Settings</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div> -->

        <div class="card" id="profile-main">
            <div class="pm-overview c-overflow">
                <div class="pmo-block pmo-contact hidden-xs">
                    <h2 style="text-transform: uppercase;">{{ employer.name }}<!-- <br><small>{{ employer.broker }}</small> --></h2>
                    <ul>
                        <li><i class="zmdi zmdi-calendar-check"></i> Renewed on {{ employer.renewal_date }}</li>
                        <li><i class="zmdi zmdi-collection-text"></i> Benefit Offering:</li>
                        {% for benefit in plans %}
                            <li>&nbsp;{{ benefit.1 }} {{ benefit.0 }} Plan(s)</li>
                        {% endfor %}
                        <li><i class="zmdi zmdi-store"></i> Industries:</li>
                        <li><address class="m-b-0 ng-binding">{{ industry }}</address></li>
                        {% if employer.nonprofit %}<li>Non-Profit</li>{% endif %}
                        {% if employer.govt_contractor %}<li>Government Contractor</li>{% endif %}
                        <li><i class="zmdi zmdi-pin"></i> Headquartered in {{ employer.state }}, with active locations in:
                        <li>{{ region }}</li>
                        <li><i class="zmdi zmdi-nature-people"></i> {{ employer.size }} Employees</li>
                    </ul>
                </div>            
            </div>
            <div class="pm-body clearfix">
                <ul class="tab-nav tn-justified">
                    <li class="waves-effect"><a href="javascript::void();">MEDICAL</a></li>
                    <li class="waves-effect"><a href="javascript::void();">DENTAL</a></li>
                    <li class="waves-effect"><a href="javascript::void();">VISION</a></li>
                    <li class="waves-effect"><a href="javascript::void();">LIFE</a></li>
                    <li class="waves-effect"><a href="javascript::void();">STD</a></li>
                    <li class="waves-effect"><a href="javascript::void();">LTD</a></li>
                    <li class="waves-effect"><a href="javascript::void();">STRATEGY</a></li>
                </ul>
                <div id="card_body">
                </div>                       
            </div>
        </div>
        
    </div>
</section>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        var EMPLOYER_THRESHOLD_MESSAGE = "{{ EMPLOYER_THRESHOLD_MESSAGE }}";       
        var employer_id = '{{ employer.id }}';
        var benefit = '{{ request.session.benefit }}';

        // make active menuitem for this page
        jQuery(function($) {
            $('ul.stem-menu li').eq(1).addClass('active');
        });

    </script>
    <script src="{% static 'js/account_detail.js' %}"></script>
{% endblock %}