{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css %}
{% endblock %}

{% block page_body %}
<section id="content">
    <div class="container">
        <ol class="breadcrumb">
            <li class="active">Support</li>
        </ol>
        
        <div class="card">
            <div class="card-body card-padding">    
                <h2>{{ faq.title }} <small>created at {{ faq.created_at }} </small></h2>
                <div> {{ faq.content }} </div>        
            </div>
        </div>
            
    </div>
</section>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        jQuery(function($) {
            $('ul.stem-menu li').eq(3).addClass('active');
        });
    </script>

{% endblock %}