{% extends 'print_base.html' %}
{% load pages_tags mezzanine_tags i18n staticfiles %}

{% block extra_css %}
<link href="{% static 'vendors/bootgrid/jquery.bootgrid.min.css' %}" rel="stylesheet">
<link href="{% static 'css/bnchmrk.css' %}" rel="stylesheet">

<style type="text/css">
    body {margin-top: 0;}
</style>
{% endblock %}

{% block nav %}
{% endblock %}

{% block page_body %}
<div class="container print-container">
    <div class="bnchmrk_table">
        <div class="card" id="bnchmrk_card">
        {% block page_content %}
        {% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block page_loader %}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        var EMPLOYER_THRESHOLD_MESSAGE = "{{ EMPLOYER_THRESHOLD_MESSAGE }}";
        var print_template = true;
        var bnchmrk_benefit = '{{ request.session.bnchmrk_benefit }}';
    </script>

    <script src="{% static 'js/benefit.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
    <script src="{% static 'vendors/bower_components/flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'vendors/sparklines/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js' %}"></script>
    <script src="{% static 'js/flot-charts/pie-chart.js' %}"></script>
    <script src="{% static 'js/flot-charts/bar-chart.js' %}"></script>      
{% endblock %}
