{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css %}
{% endblock %}

{% block page_body %}
<section id="content">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Support</li>
        </ol>
        
        <div class="card">            
            <div class="card-header">
                <h2>Customer Support Topics and FAQs <small>Answers to commonly asked questions about using bnchmrk products, including account-related issues and trouble logging in.</small></h2>
            </div>
            <div class="card-body card-padding">                
                <div class="table-responsive">
                    <table id="data-table-faq" class="table table-striped" data-ajax="true" data-url="/faq">
                        <thead>
                            <tr>
                                <th data-column-id="id" data-visible="false">No</th>
                                <th data-column-id="title" data-formatter="link">Title</th>
                                <th data-column-id="category">Category</th>
                                <th data-column-id="content">Content</th>
                                <!-- <th data-column-id="created_at">Created At</th> -->
                            </tr>
                        </thead>
                    </table>
                </div>            
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h2>Customer Support – Email <small>Our customers are important to us. In addition to offering exceptional employee benefits benchmarking analytics, we provide world-class customer service.</small></h2>
            </div>
            <div class="card-body card-padding">
                    <p class="m_5">Hours: <span style="color:#33cc33">9am - 5pm (EST) Mon - Fri</span></p>
                    <p class="m_5">Email: <a href="mailto:support@bnchmrk.com"><span style="color:#33cc33">support@bnchmrk.com</span></a></p>
                    <p class="m_5">Call: <span style="color:#33cc33">1.800.215.2916 (Ext. 1)</span></p>
            </div>
        </div>
            
    </div>
</section>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        jQuery(function($) {
            var len_li = $('ul.stem-menu li').length;
            $('ul.stem-menu li').eq(len_li-1).addClass('active');
        });
    </script>

    <script src="{% static 'js/faq.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
{% endblock %}